<div class="container-fluid p-0" id="top">


    <!--Navbar-->
    <mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-light" [containerInside]="false">
        
            <!-- Navbar brand -->
            <mdb-navbar-brand><a class="navbar-brand" href="#"><img src="/assets/logo.png" alt="" width="100"
                height="50"></a></mdb-navbar-brand>

            <!-- Collapsible content -->
            <links>

                <!-- Links -->
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a routerLink="" class="nav-link waves-light" mdbWavesEffect title="Go to Home Page">Home
                        </a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="../shop" class="nav-link waves-light" mdbWavesEffect title="Shop Now">
                            Shop
                        </a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="../about" class="nav-link waves-light" mdbWavesEffect title="Go to About">
                            About Us<span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="../contact" class="nav-link waves-light" mdbWavesEffect
                            style="text-decoration: underline; color: #dd69f1d8;" title="Go to Contact Info">
                            Contact<span class="sr-only">(current)</span>
                        </a>
                    </li>

                </ul>
                <!-- Links -->
            </links>
            <!-- Collapsible content -->
       
    </mdb-navbar>
    <!--/.Navbar-->

    <!--Title-->
    <div class="title">
        <h3 align="center">Gift Box</h3>
        <hr style="color: white; border: 1px solid white; width: 20%;">
    </div>
    <!--Title-->
    <!-- Main -->
    <header class="h-100">

        <div class="view">
            <div class="full-bg-img">
                <div class="mask rgba-black-strong flex-center">
                    <div class="container">
                        <div class="white-text text-center wow fadeInUp">
                            <h2>Contact Us</h2>
                            <h5>How To Find Us?</h5>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.Main -->
    </header>
    <!--Main Layout-->
    <!--Features-->

    <!--Contact Us-->
    <div class="container">
        <br><br>
        <h3 align="center">How Can You Find Us:</h3>
        <p align="center" style="color: #dda5e7; font-family: cursive;">Contact Details.</p>
        <br>

        <div class="container" style="margin-top: 10px; ">
            <div class="row align-items-start">
                <div class="col" style="color: #dda5e7; font-family: cursive;">
                    Address
                </div>
                <div class="col" style="color: #dda5e7; font-family: cursive;">
                    Phone Number
                </div>
                <div class="col" style="color: #dda5e7; font-family: cursive;">
                    Email Address
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col" style="margin-top: 10px;">
                    TUT Soshanguve
                </div>
                <div class="col" style="margin-top: 10px;">
                    Phone: +
                </div>
                <div class="col" style="margin-top: 10px;">
                    Email: www.giftbox.ac.za
                </div>
            </div>
            <div class="row align-items-end">
                <div class="col" style="margin-top: 10px;">
                    Soshanguve Block L
                </div>
                <div class="col" style="margin-top: 10px;">

                </div>
                <div class="col" style="margin-top: 10px;">

                </div>
            </div>

            <br>
            <h5 style="font-size: 20px;">Follow Us</h5>

            <ul>
                <li><a href=""><i class="fab fa-facebook-square"></i></a></li>
                <li><a href=""><i class="fab fa-twitter-square"></i></a></li>
                <li><a href=""><i class="fab fa-instagram-square"></i></a></li>
            </ul>
        </div>
    </div>
    <!--Contact Us-->

    <!--Email-->
    <div class="whoAreWe">
        <div class="container">
            <h3 align="center">Get In Touch With Us</h3>
            <p align="center" style="color: #dda5e7; font-family: cursive;">By Sending Us an Email.</p>
            <br>
            <form [formGroup]="formContact" (ngSubmit)="onSubmit()">

                <input type="text" formControlName="fname" placeholder="First Name">
                <div *ngIf="fname?.invalid && fname?.touched">
                    <small class="text-danger" *ngIf="fname?.errors?.required"> First Name is
                        Required</small>
                    <small class="text-danger" *ngIf="fname?.errors?.minlength">First Name must have more then 3
                        letters</small>
                </div>

                <input type="text" formControlName="lname" placeholder="Last Name">
                <div *ngIf="lname?.invalid && lname?.touched">
                    <small class="text-danger" *ngIf="fname?.errors?.required">Last Name is
                        Required</small>
                    <small class="text-danger" *ngIf="fname?.errors?.minlength">Last Name must have more then 3
                        letters</small>
                </div>

                <input type="text" formControlName="email" placeholder="Email">
                <div *ngIf="email?.invalid && email?.touched">
                    <small class="text-danger" *ngIf="email?.errors?.required">Email Address is
                        Required</small>
                    <small class="text-danger" *ngIf="email?.errors?.minlength">Email Address must have more then 3
                        letters</small>
                </div>

                <input type="text" formControlName="subject" placeholder="Subject">
                <div *ngIf="subject?.invalid && subject?.touched">
                    <small class="text-danger" *ngIf="subject?.errors?.required">The Subject is
                        Required</small>
                    <small class="text-danger" *ngIf="subject?.errors?.minlength">The Subject must have more then 3
                        letters</small>
                </div>


                <textarea formControlName="message" placeholder="Write something.." style="height:200px"></textarea>
                <div *ngIf="message?.invalid && message?.touched">
                    <small class="text-danger" *ngIf="message?.errors?.required">Shouldn't be left empty</small>
                </div>


                <button type="submit" align="center" class="shopBtn">Send
                </button>

            </form>
        </div>
    </div>


    <!--Email-->
    <br>
    <br>


    <footer>

        <div class="tAndC">
            <h4>Terms & Conditions</h4>
        </div>

        <button (click)="topFunction()" id="myBtn" title="Go to top"><i class="fas fa-arrow-up"></i></button>
    </footer>


</div>