
<div class="main-footer justify-content-center">
    <div>
      <div class="footer-top">
        <div class = "row ">
          <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <div class="footer-text">
              <h1>Main menu</h1>
              <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Products</a></li>
                <li><a href="#">Gallery</a></li>
                <li><a href="#">Contact us</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Cart</a></li>
                <li><a href="#">Wishlist</a></li>
              </ul>
            </div>
          </div>
          <!--two-->
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
          <div class="footer-text">
            <h1>Our Categories</h1>
            <ul>
                <li><a href="#">Weddings</a></li>
                <li><a href="#">Birthdays</a></li>
                <li><a href="#">Graduation</a></li>
                <li><a href="#">Baby Shower</a></li>
                <li><a href="#">Surprises</a></li>
                <li><a href="#">Valentines</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
          <div class="footer-text">
            <h1>Our Products</h1>
            <ul>
                <li><a href="#">Personalised Gift</a></li>
                <li><a href="#">Gift Items</a></li>
                <li><a href="#">Jowely Box</a></li>
                <li><a href="#">Birthdays Presents</a></li>
                <li><a href="#">Special Gifts</a></li>
                <li><a href="#">Wine or Beer Box</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
          <div class="footer-text">
            <h1>Our Products</h1>
            <ul>
                <li><a href="#">Personalised Gift</a></li>
                <li><a href="#">Gift Items</a></li>
                <li><a href="#">Jowely Box</a></li>
                <li><a href="#">Birthdays Presents</a></li>
                <li><a href="#">Special Gifts</a></li>
                <li><a href="#">Wine or Beer Box</a></li>
            </ul>
          </div>
        </div>
  
        </div>
      </div>
  
      <div class="footer-two">
        <div class="row">
          <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
            <div class="footer-address-box">
              <h2>Address</h2>
            <h3>TUT Soshanguve</h3>
            <p>Soshanguve Block L
              Pretoria
            </p>
            </div>
          </div>
          <!--one-->
      <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
        <div class="footer-address-box">
          <h2>Phone Number</h2>
          <p>&nbsp;</p>
          <p><span>Phone</span> <a href="tel: 0783067775"> 012 123 4567</a></p>
          <p><span>Phone</span> <a href="tel: 0783067775"> 011 454 7895</a></p>
        </div>
      </div>
      <!--one-->
      <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
        <div class="footer-address-box">
          <h2>Email Address</h2>
          <p>&nbsp;</p>
          <p><span>Email</span> <a href="mailto: www.tut.ac.za "> info@123.com</a></p>
          <p><span>Email</span> <a href="mailto: www.tut.ac.za "> www.tut.ac.za</a></p>
        </div>
      </div>
      <!--one-->
        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
          <div class="footer-address-box">
            <h2>Follow Us</h2>
            <div class='footer-social-icons'>
              <ul>
                <li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#" target="_blank"><i class="fa fa-youtube"></i></a></li>
                <li><a href="#" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="#" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="#" target="_blank"><i class="fa fa-instagram"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
        </div>
      </div>
    
      <footer id="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="block">
                        <p>Copyright &copy; 2020 - All Rights Reserved.Design and Developed By <a href="http://www.tut.ac.za">Tshwane University of Technology ICEP</a></p>
                    </div>
                </div>
            </div>
        </div>
    </footer>