<br><br><br>



<p class="text-center" style="font-size: xx-large;font-style: bold; font-style: italic; color:black;">GRADUATION GIFTBOX</p>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"><br>

<div class="containerX justify-content-center">
    <div class="row text-center py-6">
  <!--1-->
      <div class="col-lg-3 col-sm-6 col-sm-6 my-3 my-md-0">
        <form action="#" method="post">
        <div class="card shadow">
          <a href="#"><img class="card-img-top" src="https://cdn.shopify.com/s/files/1/0804/9501/products/01_0c622fa3-c6b9-4dc2-be2d-f07caa30d8c0_large.jpg?v=1436092215" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <h5 class="card-title text-info">component.price</h5>
              <small><s class="text-secondary">R4000</s></small>
              <span class="Price">R8000</span>
            </h4>
      
          </div>
        </div>
      </form>
      </div>
  
  <!--2-->
      <div class="col-lg-3 col-sm-6 col-sm-6 my-3 my-md-0">
        <form action="#" method="post">
        <div class="card shadow">
          <a href="#"><img class="card-img-top" src="https://ehadeya.com/pub/media/catalog/product/cache/53c892acc3a8077c3f05c92203278201/_/d/_dsc6190_copy.jpg" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <h5 class="card-title text-info">component.price</h5>
              <small><s class="text-secondary">R4000</s></small>
              <span class="Price">R8000</span>
            </h4>
           
          </div>
        </div>
      </form>
      </div>
      <div class="col-lg-3 col-sm-6 col-sm-6 my-3 my-md-0">
        <form action="#" method="post">
        <div class="card shadow">
          <a href="#"><img class="card-img-top" src="https://thumb3.zeppy.io/d/l400/pict/254317420079/personalised-graduation-gift-keyring-box-congratulations-2019-university" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <h5 class="card-title text-info">component.price</h5>
              <small><s class="text-secondary">R4000</s></small>
              <span class="Price">R8000</span>
            </h4>
           
          </div>
        </div>
      </form>
      </div>
      <div class="col-lg-3 col-sm-6 col-sm-6 my-3 my-md-0">
        <form action="#" method="post">
        <div class="card shadow">
          <a href="#"><img class="card-img-top" src="https://ehadeya.com/pub/media/catalog/product/cache/53c892acc3a8077c3f05c92203278201/_/d/_dsc6196_copy.jpg"alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <h5 class="card-title text-info">component.price</h5>
              <small><s class="text-secondary">R4000</s></small>
              <span class="Price">R8000</span>
            </h4>
           
          </div>
        </div>
      </form>
      </div>
      <div class="col-lg-3 col-sm-6 col-sm-6 my-3 my-md-0">
        <form action="#" method="post">
        <div class="card shadow">
          <a href="#"><img class="card-img-top" src="https://www.rewards4.com/pub/media/catalog/product/cache/image/700x700/e9c3970ab036de70892d86c6d221abfe/1/2/12b38c8f4a5553580236ae397cbb8576.jpg"alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <h5 class="card-title text-info">component.price</h5>
              <small><s class="text-secondary">R4000</s></small>
              <span class="Price">R8000</span>
            </h4>
           
          </div>
        </div>
      </form>
      </div>
      <div class="col-lg-3 col-sm-6 col-sm-6 my-3 my-md-0">
        <form action="#" method="post">
        <div class="card shadow">
          <a href="#"><img class="card-img-top" src="https://mareyatrade.com/uploads/products/173501516454106.jpg" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <h5 class="card-title text-info">component.price</h5>
              <small><s class="text-secondary">R4000</s></small>
              <span class="Price">R8000</span>
            </h4>
           
          </div>
        </div>
      </form>
      </div>
      <div class="col-lg-3 col-sm-6 col-sm-6 my-3 my-md-0">
        <form action="#" method="post">
        <div class="card shadow">
          <a href="#"><img class="card-img-top" src="https://cdn.personalisedgiftsshop.co.uk/media/catalog/product/cache/1/image/9df78eab33525d08d6e5fb8d27136e95/p/e/personalised-graduation-black-pen-gift-box-1.jpg" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <h5 class="card-title text-info">component.price</h5>
              <small><s class="text-secondary">R4000</s></small>
              <span class="Price">R8000</span>
            </h4>
           
          </div>
        </div>
      </form>
      </div>
      <div class="col-lg-3 col-sm-6 col-sm-6 my-3 my-md-0">
        <form action="#" method="post">
        <div class="card shadow">
          <a href="#"><img class="card-img-top" src="https://rlv.zcache.com/class_of_2023_graduation_grey_2_gift_box-r649b0cf6ca5643849d89d9869a1ffc41_agn1k_8byvr_540.jpg" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <h5 class="card-title text-info">component.price</h5>
              <small><s class="text-secondary">R4000</s></small>
              <span class="Price">R8000</span>
            </h4>
           
          </div>
        </div>
      </form>
      </div>
      <div class="col-lg-3 col-sm-6 col-sm-6 my-3 my-md-0">
        <form action="#" method="post">
        <div class="card shadow">
          <a href="#"><img class="card-img-top" src="https://img.alicdn.com/imgextra/i3/1747880184/TB20X_re3jN8KJjSZFCXXb3GpXa_!!1747880184.jpg_640x640q90.jpg" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <h5 class="card-title text-info">component.price</h5>
              <small><s class="text-secondary">R4000</s></small>
              <span class="Price">R8000</span>
            </h4>
           
          </div>
        </div>
      </form>
      </div>
      <div class="col-lg-3 col-sm-6 col-sm-6 my-3 my-md-0">
        <form action="#" method="post">
        <div class="card shadow">
          <a href="#"><img class="card-img-top" src="https://images-na.ssl-images-amazon.com/images/I/613Ku8SRSVL._UL1500_.jpg" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <h5 class="card-title text-info">component.price</h5>
              <small><s class="text-secondary">R4000</s></small>
              <span class="Price">R8000</span>
            </h4>
           
          </div>
        </div>
      </form>
      </div>
      <div class="col-lg-3 col-sm-6 col-sm-6 my-3 my-md-0">
        <form action="#" method="post">
        <div class="card shadow">
          <a href="#"><img class="card-img-top" src="https://www.theperfectgift.ae/media/catalog/product/cache/1/image/9df78eab33525d08d6e5fb8d27136e95/g/r/graduation-gifts-uae.jpg" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <h5 class="card-title text-info">component.price</h5>
              <small><s class="text-secondary">R4000</s></small>
              <span class="Price">R8000</span>
            </h4>
           
          </div>
        </div>
      </form>
      </div>
      <div class="col-lg-3 col-sm-6 col-sm-6 my-3 my-md-0">
        <form action="#" method="post">
        <div class="card shadow">
          <a href="#"><img class="card-img-top" src="https://images-na.ssl-images-amazon.com/images/I/715mQAZqauL._SX466_.jpg" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <h5 class="card-title text-info">component.price</h5>
              <small><s class="text-secondary">R4000</s></small>
              <span class="Price">R8000</span>
            </h4>
           
          </div>
        </div>
      </form>
      </div>
      <div class="col-lg-3 col-sm-6 col-sm-6 my-3 my-md-0">
        <form action="#" method="post">
        <div class="card shadow">
          <a href="#"><img class="card-img-top" src="https://www.sees.com/on/demandware.static/-/Sites-sees-catalog/default/dwa423c3be/images/graduation/graduation-hat-514-candy-box-alt1.jpg" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <h5 class="card-title text-info">component.price</h5>
              <small><s class="text-secondary">R4000</s></small>
              <span class="Price">R8000</span>
            </h4>
           
          </div>
        </div>
      </form>
      </div>
      <div class="col-lg-3 col-sm-6 col-sm-6 my-3 my-md-0">
        <form action="#" method="post">
        <div class="card shadow">
          <a href="#"><img class="card-img-top" src="https://www.dhresource.com/0x0/f2/albu/g10/M00/FF/4F/rBVaWVx44K2AS3VGAADlQG58JG4120.jpg" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <h5 class="card-title text-info">component.price</h5>
              <small><s class="text-secondary">R4000</s></small>
              <span class="Price">R8000</span>
            </h4>
           
          </div>
        </div>
      </form>
      </div>
      <div class="col-lg-3 col-sm-6 col-sm-6 my-3 my-md-0">
        <form action="#" method="post">
        <div class="card shadow">
          <a href="#"><img class="card-img-top" src="https://cf2.s3.souqcdn.com/item/2018/07/26/36/77/76/03/item_XL_36777603_143991179.jpg" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <h5 class="card-title text-info">component.price</h5>
              <small><s class="text-secondary">R4000</s></small>
              <span class="Price">R8000</span>
            </h4>
           
          </div>
        </div>
      </form>
      </div>
      <div class="col-lg-3 col-sm-6 col-sm-6 my-3 my-md-0">
        <form action="#" method="post">
        <div class="card shadow">
          <a href="#"><img class="card-img-top" src="https://www.giftsbasketsetc.com/assets/images/graduationcapwheel.jpg" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <h5 class="card-title text-info">component.price</h5>
              <small><s class="text-secondary">R4000</s></small>
              <span class="Price">R8000</span>
            </h4>
           
          </div>
        </div>
      </form>
      </div>

    </div>
  </div>


<!--footer-->
<app-footer></app-footer>