<div class="container-fluid p-0" id="top">


    <!--Navbar-->
    <mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-light" [containerInside]="false">

        <!-- Navbar brand -->
        <mdb-navbar-brand><a class="navbar-brand" href="#"><img src="/assets/logo.png" alt="" width="100"
                    height="50"></a></mdb-navbar-brand>

        <!-- Collapsible content -->
        <links>

            <!-- Links -->
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a routerLink="" class="nav-link waves-light" mdbWavesEffect title="Go to Home Page">Home
                    </a>
                </li>
                <li class="nav-item">
                    <a routerLink="../shop" class="nav-link waves-light" mdbWavesEffect title="Shop Now">
                        Shop
                    </a>
                </li>
                <li class="nav-item">
                    <a routerLink="../about" class="nav-link waves-light" mdbWavesEffect title="Go to About"
                        style="text-decoration: underline; color: #dd69f1d8;">
                        About Us<span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a routerLink="../contact" class="nav-link waves-light" mdbWavesEffect title="Go to Contact Info">
                        Contact<span class="sr-only">(current)</span>
                    </a>
                </li>

            </ul>
            <!-- Links -->
        </links>
        <!-- Collapsible content -->

    </mdb-navbar>
    <!--/.Navbar-->

    <!--Title-->
    <div class="title">
        <h3 align="center">Gift Box</h3>
        <hr style="color: white; border: 1px solid white; width: 20%;">
    </div>
    <!--Title-->

    <!-- Main -->
    <header class="h-100">

        <div class="view">
            <div class="full-bg-img">
                <div class="mask rgba-black-strong flex-center">
                    <div class="container">
                        <div class="white-text text-center wow fadeInUp">
                            <h2 class="mainTitle">About Us</h2>
                            <h5>Who Are We?</h5>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.Main -->
    </header>
    <!--Main Layout-->
    <!--Features-->



    <!--Features-->

    <!--About Us-->
    <div class="container">
        <br><br>

        <h3 align="center">About Us</h3>
        <p align="center" style="color: #dda5e7; font-family: cursive;">Get to know us well.</p>
        <div class="row justify-content-center">
            <div class="col-sm-4 pb-3">
                <div align="center" style="padding-bottom: 20px; width: 340px;">


                    <p>
                        Gift Box is an online shop which sells gift boxes online. It allows the customer to shop for
                        gift boxes online. It allows the customer to choose from the range of different gift boxes the
                        service
                        provider have. Gift Box also allows the first time buyer to register so that they can get
                        notification
                        about new range of gift boxes and great deals the service provider have.
                    </p>

                    <form action="" align="center">
                        <button routerLink="../shop" class="shopBtn">SHOP NOW</button>
                    </form>
                </div>

            </div>
            <div class="col-sm-4 pb-3">
                <img src="/assets/Landing/Box2.png" alt="" style="float: right;" width="300" height="300"
                    class="aboutImg">
            </div>
        </div>




    </div>
    <!--About Us-->

    <!--Objective-->
    <div class="whoAreWe">
        <div class="container">
            <h3 align="center" style="padding-top: 20px;">How We Operate</h3>
            <p align="center" style="color: #dda5e7; font-family: cursive;">Find Out More.</p>
            <br><br>
            <div class="row justify-content-center">
                <div class="col-sm-4 pb-3">
                    <!-- Card -->
                    <!-- Manufacturing -->
                    <div class="card">
                        <br>
                        <img src="/assets/manu.png" alt="" width="55" height="55">
                        <br>
                        <h3>Manufacturing</h3>
                        <br>
                        <p style="padding: 15px;">We produce a large range of boxes in different sizes, shapes
                            and appearance for our customer's satisfaction.
                        </p>
                    </div>
                    <!-- Manufacturing -->
                    <!-- Card -->
                </div>
                <div class="col-sm-4 pb-3">
                    <!-- Card -->
                    <!-- Distribution -->
                    <div class="card">
                        <br>
                        <img src="/assets/truck.png" alt="" width="55" height="55">
                        <br>
                        <h3>Distribution</h3>
                        <br>
                        <p style="padding: 15px;">
                            We also offer delivery to our customers, and to make life simplier we deliver to a
                            destination that our customer provides, even though it is a single box to a single
                            destination we still deliver.
                        </p>
                    </div>
                    <!-- Distribution -->
                    <!-- Card -->
                </div>
            </div>
        </div>
    </div>

    <!--Video-->
    <br><br>
    <div class="container">
        <div class="video">

            <h3 align="center">Get a Gift Box</h3>
            <p align="center" style="color: #dda5e7; font-family: cursive;">Based on a category.</p>

            <video width="300" controls>
                <source src="/assets/bear.mp4" type="video/mp4">
            </video>
            <br>
            <p>Go on to our <a routerLink="../shop" style="color: #dda5e7; font-family: cursive;">shop</a> today.</p>
        </div>
    </div>
    <!--Video-->

    <footer>

        <h3 align="center">For More Infomation:</h3>
        <hr style="color: white; border: 1px solid rgb(66, 64, 64); width: 25%;">
        <br>


        <div class="container" style="margin-top: 10px; ">
            <div class="row align-items-start">
                <div class="col" style="color: #dda5e7; font-family: cursive;">
                    Address
                </div>
                <div class="col" style="color: #dda5e7; font-family: cursive;">
                    Phone Number
                </div>
                <div class="col" style="color: #dda5e7; font-family: cursive;">
                    Email Address
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col" style="margin-top: 10px;">
                    TUT Soshanguve
                </div>
                <div class="col" style="margin-top: 10px;">
                    Phone: +011 000 0992
                </div>
                <div class="col" style="margin-top: 10px;">
                    Email: www.giftbox.ac.za
                </div>
            </div>
            <div class="row align-items-end">
                <div class="col" style="margin-top: 10px;">
                    Soshanguve Block L
                </div>
                <div class="col" style="margin-top: 10px;">

                </div>
                <div class="col" style="margin-top: 10px;">

                </div>
            </div>

            <br>
            <h5 style="font-size: 20px;">Follow Us</h5>


            <ul>
                <li><a href="https://web.facebook.com/?_rdc=1&_rdr"><i class="fab fa-facebook-square"></i></a></li>
                <li><a href="https://twitter.com/?lang=en"><i class="fab fa-twitter-square"></i></a></li>
                <li><a href="https://www.instagram.com/"><i class="fab fa-instagram-square"></i></a></li>
            </ul>
        </div>
        <div class="tAndC">
            <h4>Terms & Conditions</h4>
        </div>

        <button (click)="topFunction()" id="myBtn" title="Go to top"><i class="fas fa-arrow-up"></i></button>
    </footer>


</div>