.card{
    width: 60em;
    margin: 20px auto;
    left: 10%;
}

.highlight-text{
    background-color: #aaa5a5;
    padding: 3px;
}

#page{
    padding: 30px 10px;
}



.highlight-text{
    background-color: #aaa5a5;
    padding: 3px;
}

#page{
    padding: 30px 10px;
}

table, th, td {
    padding: 10px;
    
    font-size: 16px;
   
    }

    th, td {
        border-bottom: 1px solid gray;
    }