<div class="container-fluid p-0">


    <!--Navbar-->
    <mdb-navbar SideClass="navbar fixed-top navbar-expand-lg" [containerInside]="false">
        <div class="container">
            <!-- Navbar brand -->
            <mdb-navbar-brand><a class="navbar-brand" href="#"><img src="/assets/logo.png" alt="" width="20%"
                        height="15%"></a></mdb-navbar-brand>

            <!-- Collapsible content -->
            <links>

                <!-- Links -->
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a routerLink="" class="nav-link waves-light" mdbWavesEffect title="Go to Home Page">Home
                        </a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="../shop" class="nav-link waves-light" mdbWavesEffect title="Shop Now">
                            Shop
                        </a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="../login" class="nav-link waves-light" mdbWavesEffect title="Log In">
                            Log In
                        </a>
                    </li>

                </ul>
                <!-- Links -->
            </links>
            <!-- Collapsible content -->
        </div>
    </mdb-navbar>
    <!--/.Navbar-->

<form  class="container register-form" [formGroup]="customerForm" (ngSubmit)="onSubmit()" >
    <p class="h2">Create new account</p>
    <!--form firstname-->
    <div class="md-form mb-0">
        <mdb-icon fas icon="user" class="prefix"></mdb-icon>
        <input mdbInput type="text" class="form-control" id="username" formControlName="firstname">
        <label for="username">First Name</label>
    </div>
    <div *ngIf="firstname?.invalid && (firstname?.dirty || firstname?.touched)" class="text-danger">
        <small  *ngIf="firstname?.errors?.required"> *Name is required</small>
        <small  *ngIf="firstname?.errors?.pattern"> *Name  must have letters only</small>
        <small  *ngIf="firstname?.errors?.minlength"> *Name suppose to be more than 3 letter</small>
    </div>
    <!--End of firstname-->
    
    <!--for lastname-->
    <div class="md-form mb-0">
        <mdb-icon fas icon="user" class="prefix"></mdb-icon>
        <input mdbInput type="text" class="form-control" id="username" formControlName="lastname">
        <label for="username">Last Name</label>
    </div>
    <div *ngIf="lastname?.invalid && (lastname?.dirty || lastname?.touched)" class="text-danger">
        <small  *ngIf="lastname?.errors?.required"> *Name is required</small>
        <small  *ngIf="lastname?.errors?.pattern"> Name must have letters only</small>
        <small  *ngIf="lastname?.errors?.minlength"> *Name suppose to be more than 3 letter</small>
    </div>
    <!--End of lastname-->

    <!--for email address-->
    <div class="md-form mb-0">
        <mdb-icon fas icon="envelope" class="prefix"></mdb-icon>
        <input mdbInput type="text" id="email" class="form-control" formControlName="emailAddress">
        <label for="email">Email Address</label>
    </div>
    <div *ngIf="emailAddress?.invalid && (emailAddress?.dirty || emailAddress?.touched)" class="text-danger">
        <small  *ngIf="emailAddress?.errors?.required"> *Email address is required</small>
        <small  *ngIf="emailAddress?.errors?.email"> *Invalid email address</small>
    </div>
    <small *ngIf="isEmailError" class="text-danger md-form">
        *Email is taken
    </small>
    <!--End of email address-->

    <!--for password-->
    <div class="md-form">
        <mdb-icon fas icon="key" class="prefix"></mdb-icon>
        <input mdbInput type="password" id="password" class="form-control" formControlName="password">
        <label for="password">Password</label>
    </div>
    <div *ngIf="password?.invalid && (password?.dirty || password?.touched)" class="text-danger">
        <small  *ngIf="password?.errors?.required"> *password is required</small>
        <small  *ngIf="password?.errors?.pattern"> *Password must be 8 letters and have atleast 1 spacial 
            character, uppercase, lowercase and a number</small>
    </div>
    <!--End of password-->

    <!--for Confirm Password-->
    <div class="md-form mb-0">
        <mdb-icon fas icon="key" class="prefix"></mdb-icon>
        <input mdbInput type="password" id="form2" class="form-control" formControlName="confirmPassword">
        <label for="form2">Confirm Password</label>
    </div>
    <small *ngIf="customerForm.errors?.misMatch" class="text-danger">*Passwords don't not match</small>
    
    <!--
    <div *ngIf="confirmPassword?.invalid && (confirmPassword?.dirty || confirmPassword?.touched)" class="text-danger">
     Have to fix confirm password  <small *ngIf="confirmPassword?.errors?.misMatch"> *Passwords don't match</small>
    </div>-->
    <!--End of confirm password-->

    <div class="md-form mb-0">
        <button type="submit" [disabled]='!customerForm.valid' mdbBtn class="customBtn">Sign Up</button>
    </div>
</form>
</div>