<br><br><br>
<p class="text-center" style="font-size: xx-large;font-style: bold; font-style: italic; color:black;">BABYSHOWER GIFTBOX</p>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"><br>

<div class="containerX justify-content-center">
    <div class="row text-center py-6">
  <!--1-->
      <div class="col-lg-3 col-sm-6 col-sm-6 my-3 my-md-0">
        <form action="#" method="post">
        <div class="card shadow">
          <a href="#"><img class="card-img-top" src="https://i.etsystatic.com/13771814/r/il/a41662/1491724900/il_570xN.1491724900_dotr.jpg" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <h5 class="card-title text-info">component.price</h5>
              <small><s class="text-secondary">R4000</s></small>
              <span class="Price">R8000</span>
            </h4>
      
          </div>
        </div>
      </form>
      </div>
  
  <!--2-->
      <div class="col-lg-3 col-sm-6 col-sm-6 my-3 my-md-0">
        <form action="#" method="post">
        <div class="card shadow">
          <a href="#"><img class="card-img-top" src="https://cdn.shopify.com/s/files/1/1987/5929/products/IMG_6561_530x@2x.jpg?v=1565783457" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <h5 class="card-title text-info">component.price</h5>
              <small><s class="text-secondary">R4000</s></small>
              <span class="Price">R8000</span>
            </h4>
           
          </div>
        </div>
      </form>
      </div>
      <div class="col-lg-3 col-sm-6 col-sm-6 my-3 my-md-0">
        <form action="#" method="post">
        <div class="card shadow">
          <a href="#"><img class="card-img-top" src="https://smhttp-ssl-26483.nexcesscdn.net/media/extendware/ewimageopt/media/inline/7/a/baby-shower-gift-wrap-2b2.jpg" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <h5 class="card-title text-info">component.price</h5>
              <small><s class="text-secondary">R4000</s></small>
              <span class="Price">R8000</span>
            </h4>
           
          </div>
        </div>
      </form>
      </div>
      <div class="col-lg-3 col-sm-6 col-sm-6 my-3 my-md-0">
        <form action="#" method="post">
        <div class="card shadow">
          <a href="#"><img class="card-img-top" src="https://i7.pngguru.com/preview/181/489/72/baby-shower-gift-wrapping-decorative-box-gift-packaging.jpg"alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <h5 class="card-title text-info">component.price</h5>
              <small><s class="text-secondary">R4000</s></small>
              <span class="Price">R8000</span>
            </h4>
           
          </div>
        </div>
      </form>
      </div>
      <div class="col-lg-3 col-sm-6 col-sm-6 my-3 my-md-0">
        <form action="#" method="post">
        <div class="card shadow">
          <a href="#"><img class="card-img-top" src="https://img2.wantitall.co.za/prodimages/wedding-baby-shower-gift-boxes-favors-carriage-laser-cut-candy-decoration-multi-pack-decorative-wedd__41OwwiFmZbL.jpg"alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <h5 class="card-title text-info">component.price</h5>
              <small><s class="text-secondary">R4000</s></small>
              <span class="Price">R8000</span>
            </h4>
           
          </div>
        </div>
      </form>
      </div>
      <div class="col-lg-3 col-sm-6 col-sm-6 my-3 my-md-0">
        <form action="#" method="post">
        <div class="card shadow">
          <a href="#"><img class="card-img-top" src="https://i0.wp.com/ae01.alicdn.com/kf/H1ba4f0279ee14c2aa2417fe7279aaa27K/RMTPT-Great-For-Party-Favors-Candy-Box-Portable-Party-Baby-Shower-Gift-Boxes-Wedding-Party-Favor.jpg" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <h5 class="card-title text-info">component.price</h5>
              <small><s class="text-secondary">R4000</s></small>
              <span class="Price">R8000</span>
            </h4>
           
          </div>
        </div>
      </form>
      </div>
      <div class="col-lg-3 col-sm-6 col-sm-6 my-3 my-md-0">
        <form action="#" method="post">
        <div class="card shadow">
          <a href="#"><img class="card-img-top" src="https://sep.yimg.com/ay/yhst-18249483873275/personalized-baby-gift-box-3.gif" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <h5 class="card-title text-info">component.price</h5>
              <small><s class="text-secondary">R4000</s></small>
              <span class="Price">R8000</span>
            </h4>
           
          </div>
        </div>
      </form>
      </div>
      <div class="col-lg-3 col-sm-6 col-sm-6 my-3 my-md-0">
        <form action="#" method="post">
        <div class="card shadow">
          <a href="#"><img class="card-img-top" src="https://cf.shopee.com.my/file/239aeffb790f91fc99042e30b6cde5c2" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <h5 class="card-title text-info">component.price</h5>
              <small><s class="text-secondary">R4000</s></small>
              <span class="Price">R8000</span>
            </h4>
           
          </div>
        </div>
      </form>
      </div>
      <div class="col-lg-3 col-sm-6 col-sm-6 my-3 my-md-0">
        <form action="#" method="post">
        <div class="card shadow">
          <a href="#"><img class="card-img-top" src="https://www.dhresource.com/600x600/f2/albu/g6/M01/6F/97/rBVaSFpdk1OAN4-LAAYff7ejwmk471.jpg" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <h5 class="card-title text-info">component.price</h5>
              <small><s class="text-secondary">R4000</s></small>
              <span class="Price">R8000</span>
            </h4>
           
          </div>
        </div>
      </form>
      </div>
      <div class="col-lg-3 col-sm-6 col-sm-6 my-3 my-md-0">
        <form action="#" method="post">
        <div class="card shadow">
          <a href="#"><img class="card-img-top" src="https://mybabygift.com/wp-content/uploads/2017/06/5-480x480.jpg" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <h5 class="card-title text-info">component.price</h5>
              <small><s class="text-secondary">R4000</s></small>
              <span class="Price">R8000</span>
            </h4>
           
          </div>
        </div>
      </form>
      </div>
      <div class="col-lg-3 col-sm-6 col-sm-6 my-3 my-md-0">
        <form action="#" method="post">
        <div class="card shadow">
          <a href="#"><img class="card-img-top" src="https://www.hellomagazine.com/imagenes/healthandbeauty/mother-and-baby/2019110480017/perfect-guide-ideas-for-baby-shower/0-386-905/blue-and-pink-wrapped-boxes-m.jpg" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <h5 class="card-title text-info">component.price</h5>
              <small><s class="text-secondary">R4000</s></small>
              <span class="Price">R8000</span>
            </h4>
           
          </div>
        </div>
      </form>
      </div>
      <div class="col-lg-3 col-sm-6 col-sm-6 my-3 my-md-0">
        <form action="#" method="post">
        <div class="card shadow">
          <a href="#"><img class="card-img-top" src="https://media.karousell.com/media/photos/products/2019/01/06/babyshower_gift_box_1546741598_416d377d_progressive.jpg" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <h5 class="card-title text-info">component.price</h5>
              <small><s class="text-secondary">R4000</s></small>
              <span class="Price">R8000</span>
            </h4>
           
          </div>
        </div>
      </form>
      </div>
      <div class="col-lg-3 col-sm-6 col-sm-6 my-3 my-md-0">
        <form action="#" method="post">
        <div class="card shadow">
          <a href="#"><img class="card-img-top" src="https://sc01.alicdn.com/kf/HTB1xvGPajgy_uJjSZKbq6xXkXXay/Bear-Shape-DIY-Gift-Christening-Baby-Shower.jpg" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <h5 class="card-title text-info">component.price</h5>
              <small><s class="text-secondary">R4000</s></small>
              <span class="Price">R8000</span>
            </h4>
           
          </div>
        </div>
      </form>
      </div>
      <div class="col-lg-3 col-sm-6 col-sm-6 my-3 my-md-0">
        <form action="#" method="post">
        <div class="card shadow">
          <a href="#"><img class="card-img-top" src="https://image.made-in-china.com/202f0j00fzMYjFBRhqog/New-Born-Paper-Baby-Shower-Gift-Packaging-Design-Round-Baby-Gift-Box.jpg" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <h5 class="card-title text-info">component.price</h5>
              <small><s class="text-secondary">R4000</s></small>
              <span class="Price">R8000</span>
            </h4>
           
          </div>
        </div>
      </form>
      </div>
      <div class="col-lg-3 col-sm-6 col-sm-6 my-3 my-md-0">
        <form action="#" method="post">
        <div class="card shadow">
          <a href="#"><img class="card-img-top" src="https://cdn.beau-coup.com/products/6483/113993-500.jpg" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <h5 class="card-title text-info">component.price</h5>
              <small><s class="text-secondary">R4000</s></small>
              <span class="Price">R8000</span>
            </h4>
           
          </div>
        </div>
      </form>
      </div>
      <div class="col-lg-3 col-sm-6 col-sm-6 my-3 my-md-0">
        <form action="#" method="post">
        <div class="card shadow">
          <a href="#"><img class="card-img-top" src="https://1230795133.rsc.cdn77.org/media/goods/images/Boxes-Paper-Box-Wedding-Party-Sailboat-50pcs-Baby-Candy-Supplies-Gift-Decorations-Favor-Party-Birthday-Boxes-Shower-Kids-Boxes.jpg" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <h5 class="card-title text-info">component.price</h5>
              <small><s class="text-secondary">R4000</s></small>
              <span class="Price">R8000</span>
            </h4>
           
          </div>
        </div>
      </form>
      </div>

    </div>
  </div>
  

 


  <!--footer-->
<app-footer></app-footer>