
.card{
    width: 28em;
    margin: 20px auto;
    background-color: #f5ecf7ea;
    padding: 10px;
    outline: none;
    border: none;
}

.input-file{
	border: 0;
	cursor: pointer;
    background: #f8ebe5;
    padding: 2px;
    border-radius: 2px;
    max-width: 100%;
}

.radioRow{
    margin-top: 12px;
}

.radio-size{
    margin-left: 8px;
}

.upload{
    background-color: #8a71c7;
    color: white;
    width: 100%;
    border-radius: 2px;
}

.customBtn{
    border-radius: 20px;
    padding: 8px;
    background-color: #8a71c7!important;
    color: #fff!important;
    margin-left: 0px;
}


.okBtn{
    cursor: pointer;
      border-radius: 0.05em;
      color: #fff;
      background-color: #dca8e7ea;
      border: 0;
      width: 90px;
      height: 50px;
      font-family: Georgia, "Times New Roman", serif;
      
      font-size: 14px;
      box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.199);
  }