<!--Slider-->

<div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="3"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="4"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="5"></li>
      
    </ol>
    <div class="carousel-inner" >
      <div class="carousel-item active" id="crop">
        <img src="assets/pics/dt2ydj3pwag9jnl5qzqwgwpw0ud0kkxuuq0nlqt9ozjcmtz7xy2vh4ycyosujh6c-.jpg"  width="100%" height="100%">
        <div class="carousel-caption d-none d-md-block">
          <h1>First slide label</h1>
          <p>Nulla vitae elit libero, a pharetra augue mollis interdum.Lorem
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio quia quaerat doloremque incidunt.
             Voluptatibus fugiat unde laborum at,
             beatae quia voluptates fuga optio ab! Quo ex minus itaque numquam sed.
          </p>
        </div>
      </div>
      <div class="carousel-item" >
        <img src="assets/pics/depositphotos_93630924-stock-photo-beautiful-gift-box.jpg"  width="100%" height="100%">
        <div class="carousel-caption d-none d-md-block">
          <h5>Second slide label</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
      </div>
      <div class="carousel-item" >
        <img src="assets/pics/maxresdefault (1).jpg"  width="100%" height="100%">
        <div class="carousel-caption d-none d-md-block">
          <h5>Second slide label</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
      </div>
      <div class="carousel-item" >
        <img src="assets/pics/48915908688_7425a17f47_b.jpg"  width="100%" height="100%">
        <div class="carousel-caption d-none d-md-block">
          <h5>Second slide label</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
      </div>
      <div class="carousel-item" >
        <img src="assets/pics/beautiful-gift-box-with-blue-bow-white-wooden-table-top-view_79075-2922.jpg"  width="100%" height="100%">
        <div class="carousel-caption d-none d-md-block">
          <h5>Second slide label</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
      </div>
      <div class="carousel-item" >
        <img src="assets/pics/photo-1549465220-1a8b9238cd48.jfif" width="100%" height="100%">
        <div class="carousel-caption d-none d-md-block">
          <h5>Third slide label</h5>
          <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
        </div>
      </div>
    </div>
    
    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      l<span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  
  <!--end slider-->
  
  <div class="containerX justify-content-center">
  
    <div class="row text-center py-6">
      <div class="col-lg-3 col-sm-6 col-sm-6 my-3 my-md-0">
        <form action="#" method="post">
        <div class="card shadow">
          <a href='/product'><img class="card-img-top" src="https://www.containerstore.com/catalogimages/333785/10072114g-pop-up-gift-box-pink.jpg?width=1200&height=1200&align=center" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <h5 class="card-title text-info">component.price</h5>
              <small><s class="text-secondary">R4000</s></small>
              <span class="Price">R8000</span>
            </h4>
            
          </div>
        </div>
      </form>
      </div>

     
        <div class="col-lg-3 col-sm-6 col-sm-6 my-3 my-md-0">
          <form action="#" method="post">
          <div class="card shadow">
            <a href="#"><img class="card-img-top" src="https://www.westpacklifestyle.co.za/wp-content/uploads/99482.jpg" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <h5 class="card-title text-info">component.price</h5>
                <small><s class="text-secondary">R4000</s></small>
                <span class="Price">R8000</span>
              </h4>
              
            </div>
          </div>
        </form>
        </div>

        
          <div class="col-lg-3 col-sm-6 col-sm-6 my-3 my-md-0">
            <form action="#" method="post">
            <div class="card shadow">
              <a href="#"><img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRIn20waEGv9hNez3mzbWaGgFNLsWOWbX49w9Gb14pBrBi_8lIi" alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <h5 class="card-title text-info">component.price</h5>
                  <small><s class="text-secondary">R4000</s></small>
                  <span class="Price">R8000</span>
                </h4>
                
              </div>
            </div>
          </form>
          </div>

         
            <div class="col-lg-3 col-sm-6 col-sm-6 my-3 my-md-0">
              <form action="#" method="post">
              <div class="card shadow">
                <a href="#"><img class="card-img-top" src="https://image.made-in-china.com/2f0j00SLQRuHUCIGkh/Custom-High-Quality-A5-Deep-Folding-Luxury-Gift-Boxes-with-Silk-Ribbon-for-Cosmetics.jpg" alt=""></a>
                <div class="card-body">
                  <h4 class="card-title">
                    <h5 class="card-title text-info">component.price</h5>
                    <small><s class="text-secondary">R4000</s></small>
                    <span class="Price">R8000</span>
                  </h4>
                  
                </div>
              </div>
            </form>
            </div>

           
              <div class="col-lg-3 col-sm-6 col-sm-6 my-3 my-md-0">
                <form action="#" method="post">
                <div class="card shadow">
                  <a href="#"><img class="card-img-top" src="https://madamelunacandles.com/wp-content/uploads/2018/11/Gift-Box-BlackBox2.jpg" alt=""></a>
                  <div class="card-body">
                    <h4 class="card-title">
                      <h5 class="card-title text-info">component.price</h5>
                      <small><s class="text-secondary">R4000</s></small>
                      <span class="Price">R8000</span>
                    </h4>
                    
                  </div>
                </div>
              </form>
              </div>

           
                <div class="col-lg-3 col-sm-6 col-sm-6 my-3 my-md-0">
                  <form action="#" method="post">
                  <div class="card shadow">
                    <a href="#"><img class="card-img-top" src="https://encrypted-tbn1.gstatic.com/shopping?q=tbn:ANd9GcRqikWqOfVZxMrYwlwcIKpqHOeqsHFrKp5eIuZs2Lqkd_kKIfCNq1e4kWiOm4Aov633jq7XNiJ8TOoI1b9WttTfkJomKax5GqUorm05R0rG&usqp=CAE" alt=""></a>
                    <div class="card-body">
                      <h4 class="card-title">
                        <h5 class="card-title text-info">component.price</h5>
                        <small><s class="text-secondary">R4000</s></small>
                        <span class="Price">R8000</span>
                      </h4>
                      
                    </div>
                  </div>
                </form>
                </div>

               
                  <div class="col-lg-3 col-sm-6 col-sm-6 my-3 my-md-0">
                    <form action="#" method="post">
                    <div class="card shadow">
                      <a href="#"><img class="card-img-top" src="https://www.giftsforeurope.com/images/gene/prod/zoom/goch000397_01_godiva-gift-box-for-him.jpg" alt=""></a>
                      <div class="card-body">
                        <h4 class="card-title">
                          <h5 class="card-title text-info">component.price</h5>
                          <small><s class="text-secondary">R4000</s></small>
                          <span class="Price">R8000</span>
                        </h4>
                        
                      </div>
                    </div>
                  </form>
                  </div>

                  
                    <div class="col-lg-3 col-sm-6 col-sm-6 my-3 my-md-0">
                      <form action="#" method="post">
                      <div class="card shadow">
                        <a href="#"><img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTdL4LuhfMlk-duzT_9uJJWsLLJBtOHTv8OrEhfYnnf7CxfXNGX" alt=""></a>
                        <div class="card-body">
                          <h4 class="card-title">
                            <h5 class="card-title text-info">component.price</h5>
                            <small><s class="text-secondary">R4000</s></small>
                            <span class="Price">R8000</span>
                          </h4>
                          
                        </div>
                      </div>
                    </form>
                    </div>

                   
  
      
    </div>
  </div>
  <!-- /.container -->
  <app-footer></app-footer>