<br><br><br>
<p class="text-center" style="font-size: xx-large;font-style: bold; font-style: italic; color:black;">WEDDING GIFTBOX</p>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"><br>

<div class="containerX justify-content-center">
    <div class="row text-center py-6">
  <!--1-->
      <div class="col-lg-3 col-sm-6 col-sm-6 my-3 my-md-0">
        <form action="#" method="post">
        <div class="card shadow">
          <a href="#"><img class="card-img-top" src="https://ae01.alicdn.com/kf/HTB1hEKwKVXXXXcDXFXXq6xXFXXXQ/205851478/HTB1hEKwKVXXXXcDXFXXq6xXFXXXQ.jpg" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <h5 class="card-title text-info">component.price</h5>
              <small><s class="text-secondary">R4000</s></small>
              <span class="Price">R8000</span>
            </h4>
      
          </div>
        </div>
      </form>
      </div>
  
  <!--2-->
      <div class="col-lg-3 col-sm-6 col-sm-6 my-3 my-md-0">
        <form action="#" method="post">
        <div class="card shadow">
          <a href="#"><img class="card-img-top" src="https://ae01.alicdn.com/kf/HTB1hEKwKVXXXXcDXFXXq6xXFXXXQ/205851478/HTB1hEKwKVXXXXcDXFXXq6xXFXXXQ.jpg" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <h5 class="card-title text-info">component.price</h5>
              <small><s class="text-secondary">R4000</s></small>
              <span class="Price">R8000</span>
            </h4>
           
          </div>
        </div>
      </form>
      </div>
      <div class="col-lg-3 col-sm-6 col-sm-6 my-3 my-md-0">
        <form action="#" method="post">
        <div class="card shadow">
          <a href="#"><img class="card-img-top" src="https://www.dhresource.com/600x600/f2/albu/g9/M01/D1/73/rBVaWFyMyK-AbMuHAAJHSMtDbeA715.jpg" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <h5 class="card-title text-info">component.price</h5>
              <small><s class="text-secondary">R4000</s></small>
              <span class="Price">R8000</span>
            </h4>
           
          </div>
        </div>
      </form>
      </div>
      <div class="col-lg-3 col-sm-6 col-sm-6 my-3 my-md-0">
        <form action="#" method="post">
        <div class="card shadow">
          <a href="#"><img class="card-img-top" src="https://img2.wantitall.co.za/prodimages/yozatia-50pcs-wedding-favor-boxes-2-6-x-2-round-crown-gold-gift-boxes-candy-holders-birthday-party-w__512MD-OfcuL.jpg"alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <h5 class="card-title text-info">component.price</h5>
              <small><s class="text-secondary">R4000</s></small>
              <span class="Price">R8000</span>
            </h4>
           
          </div>
        </div>
      </form>
      </div>
      <div class="col-lg-3 col-sm-6 col-sm-6 my-3 my-md-0">
        <form action="#" method="post">
        <div class="card shadow">
          <a href="#"><img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTh5uMY3cF2Uoca7BKxF7LfGn-gsZ-IYEFRe1AzdF-CeczVFVq2"alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <h5 class="card-title text-info">component.price</h5>
              <small><s class="text-secondary">R4000</s></small>
              <span class="Price">R8000</span>
            </h4>
           
          </div>
        </div>
      </form>
      </div>
      <div class="col-lg-3 col-sm-6 col-sm-6 my-3 my-md-0">
        <form action="#" method="post">
        <div class="card shadow">
          <a href="#"><img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQva6YHwXHV1ENro_MhurXDXYn81zJX_a6JxYzwQTGkQdOLjSTG" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <h5 class="card-title text-info">component.price</h5>
              <small><s class="text-secondary">R4000</s></small>
              <span class="Price">R8000</span>
            </h4>
           
          </div>
        </div>
      </form>
      </div>
      <div class="col-lg-3 col-sm-6 col-sm-6 my-3 my-md-0">
        <form action="#" method="post">
        <div class="card shadow">
          <a href="#"><img class="card-img-top" src="https://ae01.alicdn.com/kf/HTB1K3r8bc_vK1Rjy0Foq6xIxVXau/Luxury-Kraft-Paper-Box-Wedding-Favour-Candy-Gift-Boxes-Kraft-Cake-Packaging-Box-Home-Decoration.jpg" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <h5 class="card-title text-info">component.price</h5>
              <small><s class="text-secondary">R4000</s></small>
              <span class="Price">R8000</span>
            </h4>
           
          </div>
        </div>
      </form>
      </div>
      <div class="col-lg-3 col-sm-6 col-sm-6 my-3 my-md-0">
        <form action="#" method="post">
        <div class="card shadow">
          <a href="#"><img class="card-img-top" src="https://i.etsystatic.com/14493303/r/il/8fbfee/1405402954/il_570xN.1405402954_6gb6.jpg" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <h5 class="card-title text-info">component.price</h5>
              <small><s class="text-secondary">R4000</s></small>
              <span class="Price">R8000</span>
            </h4>
           
          </div>
        </div>
      </form>
      </div>
      <div class="col-lg-3 col-sm-6 col-sm-6 my-3 my-md-0">
        <form action="#" method="post">
        <div class="card shadow">
          <a href="#"><img class="card-img-top" src="https://i0.wp.com/ae01.alicdn.com/kf/HLB1pJ.HJQvoK1RjSZFDq6xY3pXaP.jpg?h=300" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <h5 class="card-title text-info">component.price</h5>
              <small><s class="text-secondary">R4000</s></small>
              <span class="Price">R8000</span>
            </h4>
           
          </div>
        </div>
      </form>
      </div>
      <div class="col-lg-3 col-sm-6 col-sm-6 my-3 my-md-0">
        <form action="#" method="post">
        <div class="card shadow">
          <a href="#"><img class="card-img-top" src="https://i0.wp.com/ae01.alicdn.com/kf/H8de82b3a015b4fc5aa0a70c9d55c823dz/100pcs-New-Europe-Hexagon-Style-Marbling-Candy-Box-Wedding-Favors-Paper-Gift-Boxes-with-Ribbon-Baby.jpg" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <h5 class="card-title text-info">component.price</h5>
              <small><s class="text-secondary">R4000</s></small>
              <span class="Price">R8000</span>
            </h4>
           
          </div>
        </div>
      </form>
      </div>
      <div class="col-lg-3 col-sm-6 col-sm-6 my-3 my-md-0">
        <form action="#" method="post">
        <div class="card shadow">
          <a href="#"><img class="card-img-top" src="https://cdn.shopify.com/s/files/1/1045/0086/products/il_fullxfull.794793454_5wmz_grande.jpeg?v=1555339190" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <h5 class="card-title text-info">component.price</h5>
              <small><s class="text-secondary">R4000</s></small>
              <span class="Price">R8000</span>
            </h4>
           
          </div>
        </div>
      </form>
      </div>
      <div class="col-lg-3 col-sm-6 col-sm-6 my-3 my-md-0">
        <form action="#" method="post">
        <div class="card shadow">
          <a href="#"><img class="card-img-top" src="https://i0.wp.com/ae01.alicdn.com/kf/HTB16oVTXtfvK1RjSspfq6zzXFXac.jpg?h=300" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <h5 class="card-title text-info">component.price</h5>
              <small><s class="text-secondary">R4000</s></small>
              <span class="Price">R8000</span>
            </h4>
           
          </div>
        </div>
      </form>
      </div>
      <div class="col-lg-3 col-sm-6 col-sm-6 my-3 my-md-0">
        <form action="#" method="post">
        <div class="card shadow">
          <a href="#"><img class="card-img-top" src="https://cdn.shopify.com/s/files/1/2263/1613/products/elegant_filigree_laser_cut_wedding_favour_box_with_personalised_tag_800x.jpg?v=1542987107" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <h5 class="card-title text-info">component.price</h5>
              <small><s class="text-secondary">R4000</s></small>
              <span class="Price">R8000</span>
            </h4>
           
          </div>
        </div>
      </form>
      </div>
      <div class="col-lg-3 col-sm-6 col-sm-6 my-3 my-md-0">
        <form action="#" method="post">
        <div class="card shadow">
          <a href="#"><img class="card-img-top" src="https://cf.ltkcdn.net/weddings/images/std/194875-300x300-Winter-Dreams-Wedding-Favor-Boxes.jpg" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <h5 class="card-title text-info">component.price</h5>
              <small><s class="text-secondary">R4000</s></small>
              <span class="Price">R8000</span>
            </h4>
           
          </div>
        </div>
      </form>
      </div>
      <div class="col-lg-3 col-sm-6 col-sm-6 my-3 my-md-0">
        <form action="#" method="post">
        <div class="card shadow">
          <a href="#"><img class="card-img-top" src="https://cdn.beau-coup.com/products/4136/1528-0.jpg" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <h5 class="card-title text-info">component.price</h5>
              <small><s class="text-secondary">R4000</s></small>
              <span class="Price">R8000</span>
            </h4>
           
          </div>
        </div>
      </form>
      </div>
      <div class="col-lg-3 col-sm-6 col-sm-6 my-3 my-md-0">
        <form action="#" method="post">
        <div class="card shadow">
          <a href="#"><img class="card-img-top" src="https://partycity6.scene7.com/is/image/PartyCity/_pdp_sq_?$_1000x1000_$&$product=PartyCity/620833" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <h5 class="card-title text-info">component.price</h5>
              <small><s class="text-secondary">R4000</s></small>
              <span class="Price">R8000</span>
            </h4>
           
          </div>
        </div>
      </form>
      </div>

    </div>
  </div>



  <!--footer-->
<app-footer></app-footer>