<!--

<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: burlywood;">
  <a class="navbar-brand" href="#">GiftBox</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <form class="form-inline my-2 my-lg-0" style="width: 1000px;">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      
      <li class="nav-item"><a href="../wishlist"><i class="fa fa-heart" style="padding: 15px" ></i>Wish {{numberOfLikes}}</a></li>
    
      <li class="nav-item"><a href="../addtocart"><i class="fa fa-shopping-basket" style="padding: 15px"></i>Cart {{numberofcart}}</a></li>
    
      <li class="nav-item active" >
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>

      <li class="nav-item">
        <a class="nav-link" href="#">Contact Us</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Categories
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Wedding</a>
          <a class="dropdown-item" href="#">Birthdays</a>
          <a class="dropdown-item" href="#">Baby Shower</a>
      
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Customize your box</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="#">Policy</a>
      </li>
      <div class="btn">
        <button type="submit" (click)=loginClick() >Sign In</button>
      </div>
      <div class="btn">
        <button type="submit" (click)=registerClick() >Sign Up</button>
      </div>
    </ul>
    
  </div>
</nav>
-->



<nav class="navbar navbar-expand-lg navbar-light bg-light shadow fixed-top">
	
	  <a class="navbar-brand" href="#">GiftBox</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		  </button>
	  <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ">
        <li class="nav-item active">
          <a class="nav-link" href="#" class="btn btn-outline-secondary">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>

          <li class="nav-item">
            <div class="btn-group show-on-hover">
              <button type="button" class="btn btn-outline-success dropdown-toggle" data-toggle="dropdown">
                My Account <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">My Account</a></li>
                <li><a href="#">Track Order</a></li>
                <li><a href="#">Invoices</a></li>
                <li><a href="#">Personal Details</a></li>
                <li class="divider"></li>
                <li><a href="#">Help</a></li>
              </ul>
            </div>
    
          </li>


         <!--<div class="container">
    <div class="row">--> 
      <!-- Our Special dropdown has class show-on-hover -->
      <div class="btn-group show-on-hover">
        <button type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown">
          Categories <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li><a href="/wedding">Weddings</a></li>
          <li><a href="/graduation">Graduation</a></li>
          <li><a href="/christmas">Christmas</a></li>
          <li><a href="/babyShawer">BabyShower</a></li>
          <li><a href="/birthdays">Birthdays</a></li>
          <li class="divider"></li>
          <li><a href="#">What do you want!</a></li>
        </ul>
      </div>
      </ul>


		<ul class="navbar-nav ml-auto">

      <li>
        
      <div class= "collapse navbar-collapse" id="navbarNavAltMarkup" >
        <div clas="mr-auto"></div>
        <div class="navbar-nav">
          <a href="/addtocart" class="nav-item nav-link active">
            <h5 class="px-5 cart">
              <i class="fa fa-shopping-cart"></i> cart
              
              <!--inset the backend code 0 = count -->
              <span id="cart_count" class="text-warning bg-light">{{numberofcart}}</span>
            </h5>
          </a>
        </div>
      </div>
      </li>

      <li>
        <div class= "collapse navbar-collapse" id="navbarNavAltMarkup" >
          <div clas="mr-auto"></div>
          <div class="navbar-nav">
            <a href="/wishlist" class="nav-item nav-link active">
              <h5 class="px-5 cart">
                <i class="fa fa-heart" aria-hidden="true"></i> wishist
                <!--inset the backend code 0 = count -->
                <span id="cart_wish" class="text-warning bg-light">{{numberOfLikes}}</span>
              </h5>
            </a>
          </div>
        </div>
      </li>
      
		  <li class="nav-item">
			<a class="nav-link" href="/register" class="btn btn-outline-primary">Register</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" href="/login" class="btn btn-outline-primary" >Log In</a>
		  </li> 
    </ul>
    </div>
  <form>
    <input type="text" name="search" placeholder="Search here">
  </form>
  </nav>