.masthead {
    height: 100vh;
    min-height: 500px;
    background-image: url('https://source.unsplash.com/BtbjCFUvBXs/1920x1080');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  /*dropdown*/
  
  .show-on-hover:hover > ul.dropdown-menu {
    display: block;
    
  }
  .dropdown-menu li a{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    color: rgb(75, 134, 153);
    line-height: 30px;
    text-decoration: none;
    outline: none;
    -webkit-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    display: block;
  }
  .dropdown-menu li a:hover{
    color: dimgray;
    -webkit-transform: translateX(5px);
    -moz-transform: translateX(5px);
    -ms-transform: translateX(5px);
    -o-transform: translateX(5px);
    transform: translateX(5px);
    
  }
  /*end*/
  
  /*Search box*/
  
  input[type=text] {
    width: 30px;
    box-sizing: border-box;
  border:0;
    outline: none;
  
    font-size: 16px;
    background-color: white;
    background-image: url('https://www.w3schools.com/howto/searchicon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    float:right;
  }
  
  input[type=text]:focus {
    width: 300px;
    border-top: 0;
    border-right:0;
    border-left:0;
    border-bottom: 1px solid #ddd;
  }
  /*Search end*/
  
  /*cart and wish*/
  .cart_count
  {
    text-align:center;
    padding: 0 0.9rem 0.1 0.9rem;
    border-radius: 3rem;
  }
  
  .fa-heart
  {
    color: red;
  }
  .fa-shopping-cart
  {
    color: green;
  }
  