<div class="container-fluid p-0" id="top">


    <!--Navbar-->
    <mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-light" [containerInside]="false">

        <!-- Navbar brand -->
        <mdb-navbar-brand><a class="navbar-brand" href="#"><img src="/assets/logo.png" alt="" width="100"
                    height="50"></a></mdb-navbar-brand>

        <!-- Collapsible content -->
        <links>

            <!-- Links -->
            <ul class="navbar-nav ml-auto">
                <div mdbDropdownToggle>
                    <div style="float: right;  position: absolute;
                    top: 10px; right: 100px;" class="line" *ngIf="custId != null">
                    <a class="nav-link">
                        <div class="btn-group" mdbDropdown>
                            <div mdbDropdownToggle>
                                {{custName}}<i class="fas fa-chevron-down icon"></i>
                            </div>

                            <div class="dropdown-menu dropdown-menu-right dropdown-primary">
                                <a routerLink="../profile" class="dropdown-item">Profile</a>
                                <a routerLink="../shop" class="dropdown-item">Shop</a>
                                <div class="divider dropdown-divider"></div>
                                <button class="dropdown-item btn-logOut" (click)="logOut()">Log-out</button>
                            </div>
                        </div>
                    </a>
                </div>
                </div>
                <li class="nav-item">
                    <a routerLink="../checkout" class="nav-link waves-light" mdbWavesEffect title="Cart">
                        <img src="assets/cart.png" alt="Cart" width="40" height="40" style="float: right;  position: absolute;
                            top: 20px; right: 32px;" class="line"><span>{{itm}} </span>
                    </a>
                </li>

            </ul>
            <!-- Links -->
        </links>
        <!-- Collapsible content -->

    </mdb-navbar>
    <!--/.Navbar-->

    <!--Title-->
    <div class="title">
        <div class="container">
            <ul class="nav nav-pills">
                <li class="nav-item active">
                    <a routerLink="" class="nav-link waves-light" mdbWavesEffect title="Go to Home Page">Home
                    </a>
                </li>
                <li class="nav-item">
                    <a routerLink="../shop" class="nav-link waves-light" mdbWavesEffect title="Shop Now">
                        Shop
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link waves-light" mdbWavesEffect id="mycont" title="Go to Contact Info"
                        style="text-decoration: underline; color: #dd69f1d8;">
                        Wish List<span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a routerLink="../order" class="nav-link waves-light" mdbWavesEffect id="mycont"
                        title="View Your Order">
                        View Order
                    </a>
                </li>
                <li class="nav-item">
                    <a routerLink="../about" class="nav-link waves-light" mdbWavesEffect title="Go to About">
                        About Us
                    </a>
                </li>
                <li class="nav-item">
                    <a routerLink="../contact" class="nav-link waves-light" mdbWavesEffect id="mycont"
                        title="Go to Contact Info">
                        Contact
                    </a>
                </li>

            </ul>
        </div>
    </div>
    <!--Title-->

    <!-- Main -->
    <header class="h-100">

        <div class="view">
            <div class="full-bg-img">
                <div class="mask rgba-black-strong flex-center">
                    <div class="container">
                        <div class="white-text text-center wow fadeInUp">
                            <h2 class="mainTitle">Your Available</h2>
                            <h2>Wish List</h2>


                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.Main -->
    </header>

    <!--Main Layout-->
    <main class="text-center py-5 mt-3">
        <div class="container">

            <!--All Items-->
            <h2 align="center">Wish List Items</h2>
            <p align="center" style="color: #dda5e7; font-family: cursive;">Items you fell inlove with
            </p>

            <br>
            <div style="margin-top: 50px;">
                <div class="row justify-content-center">

                    <div class="col-sm-4 pb-3" *ngFor="let item of items; index as userID">
                        <!-- Card -->


                        <div class="card">
                            <!-- Card -->
                            <mdb-card>

                                <!-- Card img -->
                                <img [src]="item.image" alt="Card image cap" width="250" height="250"
                                    style="padding-top: 30px;">
                                <a>
                                    <div class="mask"></div>
                                </a>

                                <!--Card content-->
                                <mdb-card-body>
                                    <br>
                                    <h4>{{item.title}}</h4>

                                    <p style="color: #dda5e7; font-family: cursive;">

                                        Category: {{item.category}}
                                        <br>
                                        Price: R{{item.item_price}}
                                    </p>


                                    <button type="button" class="click" style="outline: none;" title="Add To Cart"
                                        (click)="addToCart(item, userID)">
                                        <mdb-icon fas icon="cart-arrow-down"></mdb-icon>

                                    </button>

                                    <button type="button" class="cancel" style="outline: none;"
                                        (click)="removeFromList(item.wish_id, userID)" title="Remove From Cart"><i
                                            class="fa fa-times-circle" aria-hidden="true"></i></button>

                                </mdb-card-body>
                            </mdb-card>
                            <!-- Card -->



                        </div>

                    </div>
                </div>
            </div>
        </div>


        <!--All Items-->

    </main>
    <!--Main Layout-->

    <!--Main-->


    <footer>

        <h3 align="center">For More Infomation:</h3>
        <hr style="color: white; border: 1px solid rgb(66, 64, 64); width: 25%;">
        <br>


        <div class="container" style="margin-top: 10px; ">
            <div class="row align-items-start">
                <div class="col" style="color: #dda5e7; font-family: cursive;">
                    Address
                </div>
                <div class="col" style="color: #dda5e7; font-family: cursive;">
                    Phone Number
                </div>
                <div class="col" style="color: #dda5e7; font-family: cursive;">
                    Email Address
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col" style="margin-top: 10px;">
                    TUT Soshanguve
                </div>
                <div class="col" style="margin-top: 10px;">
                    Phone: +011 000 0992
                </div>
                <div class="col" style="margin-top: 10px;">
                    Email: www.giftbox.ac.za
                </div>
            </div>
            <div class="row align-items-end">
                <div class="col" style="margin-top: 10px;">
                    Soshanguve Block L
                </div>
                <div class="col" style="margin-top: 10px;">

                </div>
                <div class="col" style="margin-top: 10px;">

                </div>
            </div>

            <br>



        </div>
        <div class="tAndC">

            <ul>
                <li><a href="https://web.facebook.com/?_rdc=1&_rdr"><i class="fab fa-facebook-square"></i></a></li>
                <li><a href="https://twitter.com/?lang=en"><i class="fab fa-twitter-square"></i></a></li>
                <li><a href="https://www.instagram.com/"><i class="fab fa-instagram-square"></i></a></li>
            </ul>
        </div>

        <button (click)="topFunction()" id="myBtn" title="Go to top"><i class="fas fa-arrow-up"></i></button>
    </footer>
</div>