<app-admin-dashboard></app-admin-dashboard>

<h3 style="margin-top: 20px; margin-left: 25%;">Customer</h3>
<p style="color: #dda5e7; font-family: cursive; margin-left: 25%;">Available Customer(s).</p>
<div class="card">
  <!--View all the customers-->
  <div *ngIf="this.table==1">
    <table mdbTable>
      <thead>
        <tr>
          <th *ngFor="let head of headElements" scope="col">{{head}} </th>
        </tr>
      </thead>
      <tbody *ngFor="let el of customers">
        <tr>
          <td>{{el.firstname}}</td>
          <td>{{el.lastname}}</td>
          <td>{{el.emailAddress}}</td>
        </tr>
      </tbody>
    </table>

  </div>
<!--\.View all the customers-->

<!--View searched customer-->
  <div *ngIf="this.table==2">
    <button (click)="viewAll()" class="btn">View All</button>
    <table mdbTable>
      <thead>
        <tr>
          <th *ngFor="let head of headElements" scope="col">{{head}} </th>
        </tr>
      </thead>
      <tbody *ngFor="let el of searchL">
        <tr>
          <td>{{el.firstname}}</td>
          <td>{{el.lastname}}</td>
          <td>{{el.emailAddress}}</td>
        </tr>
      </tbody>
    </table>

  </div>
<!--\. View searched customer-->
</div>

<!--Search -->
<div *ngIf="this.table==1" style=" margin-left: 50%;">
  <input class="search" type="text" #search placeholder="Search By First Name/Last Name"> <button (click)="onSearch(search.value)"
    class="btn">Search</button>
</div>
<!--\. Search -->

