.card{
    max-width: 60em;
    margin: 20px auto;
    left: 10%;
    box-shadow: 1px 1px 10px 1px rgba(161, 161, 161, 0.658);
}

td:nth-child(even) {
    background-color: #f5ecf7ea;
}


.search{
    margin: 10px;
    outline: none;
    border: none;
    background-color: #f5ecf7ea;
    padding: 8px;
    border-radius: 0.2em;
    height: 50px;
    margin-left: 25%;
    box-shadow: 1px 1px 10px 1px rgba(161, 161, 161, 0.658);
    width: 300px;
}

.btn{
    margin: 10px;
    outline: none;
    border: none;
    padding: 8px;
    border-radius: 0.2em;
    background-color: #f5ecf7ea;
    color: gray;
    width: 90px;
    height: 50px;
    box-shadow: 1px 1px 10px 1px rgba(161, 161, 161, 0.658);
}

.btn:hover{
    background-color: #f7ddfd;
}

.btn:active{
    outline: none;
}


.amt{
    margin-left: 25%; 
    margin-top: 10px;
    padding: 15px;
}