<div id="top"></div>

<div class="container-fluid p-0" >


    <!--Navbar-->
    <mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-light" [containerInside]="false">

        <!-- Navbar brand -->
        <mdb-navbar-brand><a class="navbar-brand" href="#"><img src="/assets/logo.png" alt="" width="100"
                    height="50"></a></mdb-navbar-brand>

        <!-- Collapsible content -->
        <links>

            <!-- Links -->
            <ul class="navbar-nav ml-auto">
                <!--<li class="nav-item">
                    <a class="nav-link waves-light" mdbWavesEffect title="Shop Now"
                        style="text-decoration: underline; color: #dd69f1d8;">
                        Shop<span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a routerLink="../register" class="nav-link waves-light" mdbWavesEffect title="Sign Up">Sign Up
                    </a>
                </li>

                <li class="nav-item">
                    <a routerLink="../login" lass="nav-link waves-light" mdbWavesEffect title="Sign In">
                        Sign In
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link waves-light" mdbWavesEffect title="Cart">
                        Cart
                    </a>
                </li>-->

                <li class="nav-item">
                    <a routerLink="../checkout"  class="nav-link waves-light" mdbWavesEffect title="Cart">

                        <img src="assets/cart.png" alt="Cart" width="40" height="40" style="float: right;  position: absolute;
                            top: 20px; right: 32px;" class="line"><span>{{itm}} </span>
                    </a>
                </li>
                <li class="nav-item">
                    <a routerLink="../wish"  class="nav-link waves-light" mdbWavesEffect title="Wish List">
        \
                        <img src="assets/wish.png" alt="Cart" width="40" height="40" style="float: right;  position: absolute;
                            top: 20px; right: 100px;" class="line"><span class="spanWish">{{wish}}</span>
                    </a>
                </li>
            </ul>
            <!-- Links -->
        </links>
        <!-- Collapsible content -->

    </mdb-navbar>
    <!--/.Navbar-->

    <!--Title-->
    <div class="title">
        <div class="container">
            <ul class="nav nav-pills">
                <li class="nav-item active">
                    <a routerLink="" class="nav-link waves-light" mdbWavesEffect title="Go to Home Page">Home
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link waves-light" mdbWavesEffect title="Shop Now"
                        style="text-decoration: underline; color: #dd69f1d8;">
                        Shop<span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a routerLink="../wish" class="nav-link waves-light" mdbWavesEffect id="mycont"
                        title="Go to Contact Info">
                        Wish List
                    </a>
                </li>
                <li class="nav-item">
                    <a routerLink="../order" class="nav-link waves-light" mdbWavesEffect id="mycont"
                        title="View Your Order">
                        View Order
                    </a>
                </li>
                <li class="nav-item">
                    <a routerLink="../about" class="nav-link waves-light" mdbWavesEffect title="Go to About">
                        About Us
                    </a>
                </li>
                <li class="nav-item">
                    <a routerLink="../contact" class="nav-link waves-light" mdbWavesEffect id="mycont"
                        title="Go to Contact Info">
                        Contact
                    </a>
                </li>

            </ul>
        </div>
    </div>
    <!--Title-->

    <!-- Main -->
    <header class="h-100">

        <div class="view">
            <div class="full-bg-img">
                <div class="mask rgba-black-strong flex-center">
                    <div class="container">
                        <div class="white-text text-center wow fadeInUp">
                            <h2>Shop For a Gift Box</h2>


                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.Main -->
    </header>
    <!--Main Layout-->
    <main class="text-center py-5 mt-3">
        <!--Side Buttons-->
        <div style="float:left" class="sideBack">

            <h4 align="cent4">Categories</h4>
            <button (click)="all()" class="sideBtn">View All</button>
            <br>
            <button (click)="birthday()" class="sideBtn">Birthday</button>
            <br>
            <button (click)="wedding()" class="sideBtn">Wedding</button>
            <br>
            <button (click)="babyShower()" class="sideBtn">Baby Showers</button>
            <br>
            <button (click)="christmas()" class="sideBtn">Christmas</button>
            <br>
            <button (click)="valentine()" class="sideBtn">Valentine</button>
            <br>
            <button (click)="gradution()" class="sideBtn">Graduation</button>


        </div>
        <!--Side Buttons-->
        <div class="container">

            <!--All Items-->
            <div *ngIf="this.num == 0">
                <h2 align="center">All Available Item</h2>
                <h4 align="center" style="color: #dda5e7; font-family: cursive;">Select a Categories To Select an Item
                </h4>

                <br>
                <div style="margin-top: 50px;">
                    <div class="row justify-content-center">

                        <div class="col-sm-4 pb-3" *ngFor="let item of items; index as userID">
                            <!-- Card -->
                            <div class="card">
                                <!-- Card -->
                                <mdb-card>

                                    <!-- Card img -->
                                    <img [src]="item.image" alt="Card image cap" width="250" height="250"
                                        style="padding-top: 30px;">
                                    <a>
                                        <div class="mask"></div>
                                    </a>

                                    <!--Card content-->
                                    <mdb-card-body>
                                        <br>
                                        <h4>{{item.title}}</h4>

                                        <p style="color: #dda5e7; font-family: cursive;">

                                            Category: {{item.category}}
                                            <br>
                                            Price: R{{item.price}}
                                        </p>


                                        <!-- <button type="button" class="click" style="outline: none;" title="Add To Cart"
                                            (click)="addToCart(item, userID)">
                                            <mdb-icon fas icon="cart-arrow-down"></mdb-icon>
                                            
                                        </button>


                                        <button type="button" class="click" style="outline: none;"
                                            title="Add To Wishlist"><i class="fas fa-heart">
                                                <!--(click)="plus(item, userID)"
                                            </i></button>-->

                                    </mdb-card-body>
                                </mdb-card>
                                <!-- Card -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--All Items-->

            <!--All Items--
            <div *ngIf="this.num == 0">
                <h2 align="center">All Available Item</h2>
                <h4 align="center" style="color: #dda5e7; font-family: cursive;">Select a Categories To Select an Item
                </h4>

                <br>
                <div style="margin-top: 50px;">
                    <div class="row justify-content-center">

                        <div class="col-sm-4 pb-3" *ngFor="let itm of item; index as userID">
                            <!-- Card --
                            <div class="card">
                                <!-- Card --
                                <mdb-card>

                                    <!-- Card img --
                                    <img [src]="item.image" alt="Card image cap" width="250" height="250"
                                        style="padding-top: 30px;">
                                    <a>
                                        <div class="mask"></div>
                                    </a>

                                    <!--Card content--
                                    <mdb-card-body>
                                        <br>
                                        <h4>{{itm.title}}</h4>

                                        <p style="color: #dda5e7; font-family: cursive;">

                                            Category: {{itm.category}}
                                            <br>
                                            Price: R{{itm.item_price}}
                                        </p>


                                        <!-- <button type="button" class="click" style="outline: none;" title="Add To Cart"
                                            (click)="addToCart(item, userID)">
                                            <mdb-icon fas icon="cart-arrow-down"></mdb-icon>
                                            
                                        </button>


                                        <button type="button" class="click" style="outline: none;"
                                            title="Add To Wishlist"><i class="fas fa-heart">
                                                <!--(click)="plus(item, userID)"
                                            </i></button>--

                                    </mdb-card-body>
                                </mdb-card>
                                <!-- Card --
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--All Items-->


            <!--Birthday-->
            <div *ngIf="this.num == 1">
                <h2 align="center">Birthday Gifts Boxes</h2>
                <br>
                <div style="margin-top: 50px;">
                    <div class="row justify-content-center">

                        <div class="col-sm-4 pb-3" *ngFor="let bd of bday; index as userID">
                            <!-- Card -->
                            <div class="card">
                                <!-- Card -->
                                <mdb-card>

                                    <!-- Card img -->
                                    <img [src]="bd.image" alt="Card image cap" width="250" height="250"
                                        style="padding-top: 30px;">
                                    <a>
                                        <div class="mask"></div>
                                    </a>

                                    <!--Card content-->
                                    <mdb-card-body>
                                        <br>
                                        <h4>{{bd.title}}</h4>

                                        <p style="color: #dda5e7; font-family: cursive;">

                                            Category: {{bd.category}}
                                            <br>
                                            Price: R{{bd.price}}
                                        </p>

                                        <!--Buttons-->
                                        <button type="button" class="click" style="outline: none;" title="Add To Cart"
                                            (click)="addToCart(bd, userID)">
                                            <mdb-icon fas icon="cart-arrow-down"></mdb-icon>

                                        </button>

                                        <button type="button" class="click" style="outline: none;"
                                            title="Add To Wishlist" (click)="addToWish(bd, userID)"><i
                                                class="fas fa-heart">
                                            </i></button>
                                        <!--Buttons-->
                                    </mdb-card-body>
                                </mdb-card>
                                <!-- Card -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Birthday-->

            <!--Wedding-->
            <div *ngIf="this.num == 2">
                <h2 align="center">Wedding Gifts Boxes</h2>
                <br>
                <div style="margin-top: 50px;">
                    <div class="row justify-content-center">

                        <div class="col-sm-4 pb-3" *ngFor="let we of wed; index as userID">
                            <!-- Card -->
                            <div class="card">
                                <!-- Card -->
                                <mdb-card>

                                    <!-- Card img -->
                                    <img [src]="we.image" alt="Card image cap" width="250" height="250"
                                        style="padding-top: 30px;">
                                    <a>
                                        <div class="mask"></div>
                                    </a>

                                    <!--Card content-->
                                    <mdb-card-body>
                                        <br>
                                        <h4>{{we.title}}</h4>

                                        <p style="color: #dda5e7; font-family: cursive;">

                                            Category: {{we.category}}
                                            <br>
                                            Price: R{{we.price}}
                                        </p>

                                        <!--Buttons-->
                                        <button type="button" class="click" style="outline: none;" title="Add To Cart"
                                            (click)="addToCart(we, userID)">
                                            <mdb-icon fas icon="cart-arrow-down"></mdb-icon>

                                        </button>

                                        <button type="button" class="click" style="outline: none;"
                                            title="Add To Wishlist" (click)="addToWish(we, userID)"><i
                                                class="fas fa-heart">
                                            </i></button>
                                        <!--Buttons-->
                                    </mdb-card-body>
                                </mdb-card>
                                <!-- Card -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Wedding-->

            <!--Baby Shower-->
            <div *ngIf="this.num == 3">
                <h2 align="center">Baby Shower Gifts Boxes</h2>
                <br>
                <div style="margin-top: 50px;">
                    <div class="row justify-content-center">
                        <div class="col-sm-4 pb-3" *ngFor="let bsh of bShower; index as userID">
                            <!-- Card -->
                            <div class="card">
                                <!-- Card -->
                                <mdb-card>

                                    <!-- Card img -->
                                    <img [src]="bsh.image" alt="Card image cap" width="250" height="250"
                                        style="padding-top: 30px;">
                                    <a>
                                        <div class="mask"></div>
                                    </a>

                                    <!--Card content-->
                                    <mdb-card-body>
                                        <br>
                                        <h4>{{bsh.title}}</h4>

                                        <p style="color: #dda5e7; font-family: cursive;">

                                            Category: {{bsh.category}}
                                            <br>
                                            Price: R{{bsh.price}}
                                        </p>

                                        <!--Buttons-->
                                        <button type="button" class="click" style="outline: none;" title="Add To Cart"
                                            (click)="addToCart(bsh, userID)">
                                            <mdb-icon fas icon="cart-arrow-down"></mdb-icon>

                                        </button>

                                        <button type="button" class="click" style="outline: none;"
                                            title="Add To Wishlist" (click)="addToWish(bsh, userID)"><i
                                                class="fas fa-heart">
                                            </i></button>
                                        <!--Buttons-->
                                    </mdb-card-body>
                                </mdb-card>
                                <!-- Card -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Baby Shower-->

            <!--Christmas-->
            <div *ngIf="this.num == 4">
                <h2 align="center">Christmas Gifts Boxes</h2>
                <br>
                <div style="margin-top: 50px;">
                    <div class="row justify-content-center">
                        <div class="col-sm-4 pb-3" *ngFor="let mas of cMas; index as userID">
                            <!-- Card -->
                            <div class="card">
                                <!-- Card -->
                                <mdb-card>

                                    <!-- Card img -->
                                    <img [src]="mas.image" alt="Card image cap" width="250" height="250"
                                        style="padding-top: 30px;">
                                    <a>
                                        <div class="mask"></div>
                                    </a>

                                    <!--Card content-->
                                    <mdb-card-body>
                                        <br>
                                        <h4>{{mas.title}}</h4>

                                        <p style="color: #dda5e7; font-family: cursive;">

                                            Category: {{mas.category}}
                                            <br>
                                            Price: R{{mas.price}}
                                        </p>

                                        <!--Buttons-->
                                        <button type="button" class="click" style="outline: none;" title="Add To Cart"
                                            (click)="addToCart(mas, userID)">
                                            <mdb-icon fas icon="cart-arrow-down"></mdb-icon>

                                        </button>

                                        <button type="button" class="click" style="outline: none;"
                                            title="Add To Wishlist" (click)="addToWish(mas, userID)"><i
                                                class="fas fa-heart">
                                            </i></button>
                                        <!--Buttons-->
                                    </mdb-card-body>
                                </mdb-card>
                                <!-- Card -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Christmas-->

            <!--Valentine-->
            <div *ngIf="this.num == 5">
                <h2 align="center">Valentine Gifts Boxes</h2>
                <br>
                <div style="margin-top: 50px;">
                    <div class="row justify-content-center">
                        <div class="col-sm-4 pb-3" *ngFor="let val of valen; index as userID">
                            <!-- Card -->
                            <div class="card">
                                <!-- Card -->
                                <mdb-card>

                                    <!-- Card img -->
                                    <img [src]="val.image" alt="Card image cap" width="250" height="250"
                                        style="padding-top: 30px;">
                                    <a>
                                        <div class="mask"></div>
                                    </a>

                                    <!--Card content-->
                                    <mdb-card-body>
                                        <br>
                                        <h4>{{val.title}}</h4>

                                        <p style="color: #dda5e7; font-family: cursive;">

                                            Category: {{val.category}}
                                            <br>
                                            Price: R{{val.price}}
                                        </p>

                                        <!--Buttons-->
                                        <button type="button" class="click" style="outline: none;" title="Add To Cart"
                                            (click)="addToCart(val, userID)">
                                            <mdb-icon fas icon="cart-arrow-down"></mdb-icon>

                                        </button>

                                        <button type="button" class="click" style="outline: none;"
                                            title="Add To Wishlist" (click)="addToWish(val, userID)"><i
                                                class="fas fa-heart">
                                            </i></button>
                                        <!--Buttons-->
                                    </mdb-card-body>
                                </mdb-card>
                                <!-- Card -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Valentine-->

            <!--Graduation-->
            <div *ngIf="this.num == 6">
                <h2 align="center">Graduation Gifts Boxes</h2>
                <br>
                <div style="margin-top: 50px;">
                    <div class="row justify-content-center">
                        <div class="col-sm-4 pb-3" *ngFor="let gr of grad; index as userID">
                            <!-- Card -->
                            <div class="card">
                                <!-- Card -->
                                <mdb-card>

                                    <!-- Card img -->
                                    <img [src]="gr.image" alt="Card image cap" width="250" height="250"
                                        style="padding-top: 30px;">
                                    <a>
                                        <div class="mask"></div>
                                    </a>

                                    <!--Card content-->
                                    <mdb-card-body>
                                        <br>
                                        <h4>{{gr.title}}</h4>

                                        <p style="color: #dda5e7; font-family: cursive;">

                                            Category: {{gr.category}}
                                            <br>
                                            Price: R{{gr.price}}
                                        </p>

                                          <!--Buttons-->
                                          <button type="button" class="click" style="outline: none;" title="Add To Cart"
                                          (click)="addToCart(gr, userID)">
                                          <mdb-icon fas icon="cart-arrow-down"></mdb-icon>

                                      </button>

                                      <button type="button" class="click" style="outline: none;"
                                          title="Add To Wishlist" (click)="addToWish(gr, userID)"><i
                                              class="fas fa-heart">
                                          </i></button>
                                      <!--Buttons-->
                                    </mdb-card-body>
                                </mdb-card>
                                <!-- Card -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Graduation-->

        </div>

    </main>
    <!--Main Layout-->

    <!--Main-->


    <footer>

        <h3 align="center">For More Infomation:</h3>
        <hr style="color: white; border: 1px solid rgb(66, 64, 64); width: 25%;">
        <br>


        <div class="container" style="margin-top: 10px; ">
            <div class="row align-items-start">
                <div class="col" style="color: #dda5e7; font-family: cursive;">
                    Address
                </div>
                <div class="col" style="color: #dda5e7; font-family: cursive;">
                    Phone Number
                </div>
                <div class="col" style="color: #dda5e7; font-family: cursive;">
                    Email Address
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col" style="margin-top: 10px;">
                    TUT Soshanguve
                </div>
                <div class="col" style="margin-top: 10px;">
                    Phone: +
                </div>
                <div class="col" style="margin-top: 10px;">
                    Email: www.giftbox.ac.za
                </div>
            </div>
            <div class="row align-items-end">
                <div class="col" style="margin-top: 10px;">
                    Soshanguve Block L
                </div>
                <div class="col" style="margin-top: 10px;">

                </div>
                <div class="col" style="margin-top: 10px;">

                </div>
            </div>

            <br>



        </div>
        <div class="tAndC">
            <ul>
                <h5 style="font-size: 20px; padding-left: 20px;">Follow Us</h5>
                <li><a href=""><i class="fab fa-facebook-square"></i></a></li>
                <li><a href=""><i class="fab fa-twitter-square"></i></a></li>
                <li><a href=""><i class="fab fa-instagram-square"></i></a></li>
            </ul>
        </div>

        <button (click)="topFunction()" id="myBtn" title="Go to top"><i class="fas fa-arrow-up"></i></button>
    </footer>
</div>