/*::ng-deep .navbar {
    
    background-color: white;
    color: black;

    /*#dda5e7;   
}
*/

::ng-deep .navbar {
    background-color: #f5ecf7ea;
    padding-left: 50px;
    padding-right: 50px;
      box-shadow: 1px 1px 10px 10px rgba(145, 144, 144, 0.329);
  }
  
  nav{
      background-color: #f5ecf7ea;
      padding: 10px;
      box-shadow: 1px 1px 10px 10px rgba(145, 144, 144, 0.329);
  
  }
  
  nav a {text-decoration: none;
      padding-left: 20px;
  
  }
  .current{ color: #dda5e7; 
      text-decoration: underline;
      
  } 
  .link { color: #464a4e; 
  } 
  
  .link:hover { color: #d00af3; font-size: 150%; }
  
  .current:hover { color: #a9f0ec; font-size: 150%;
   }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: #464a4e;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    
    color: #d00af3;
    border-radius: 0.5em;
  }
  
  .card{
      background-color: #f5ecf7ea;
      width: 320px;
      height: 500px;
      align-items: center;
      padding: 10p;
      outline: none;
      border: none;
      border-radius: 0%;
      text-align: center;

      align-items: center;
  }

  
  .card2{
    background-color: transparent;
  
    align-items: center;
    padding: 30p;
    outline: none;
    border: none;
    border-radius: 0%;
    text-align: center;
  
    margin-bottom: 20px;
  }
  
  .shopBtn{
    width: 200px;
    height: 80px;
    background-color: #f5ecf7ea;
    
      font-size: 20px;
     text-align: center;
      padding: 10p;
      outline: none;
      border: none;
      border-radius: 0%;
      box-shadow: 0px 0px 8px 5px rgba(145, 144, 144, 0.329);
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
  }
  
  .shopBtn:hover{
    color: #d00af3;
    font-size: 30px;
  }
  
  .whoAreWe{
    margin-top: 70px;
    background-color: #f5ecf7;
  }
  
  footer{
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #f5ecf7;
    box-shadow: 0px 0px 8px 5px rgba(145, 144, 144, 0.329);
    
  }
  
  td{
    padding: 5px;
    text-align: center;
  }
  
  .tAndC{
   
    background-color: #d07edf9d;
    color: white;
    padding: 10px;
    box-shadow: 0px 0px 8px 5px rgba(145, 144, 144, 0.329);
    font-family: cursive;
  }
  
  .title{
    text-align: center;
    background-color: #d07edf9d;
    //#8971c7b7
    color: white;
    padding: 10px;
    box-shadow: 0px 0px 8px 5px rgba(145, 144, 144, 0.329);
    
    margin-top: 76px;
  }
  #myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: 1px solid #c156d4; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #d07edf9d; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10em; /* Rounded corners */
    font-size: 18px; /* Increase font size */
    width: 60px;
    height: 60px;
  }
  #myBtn:hover {
    background-color: rgb(112, 3, 54); /* Add a dark-grey background on hover */
  } 

.follow{
  align-items: center;
}

.view {
  background-image: url("/assets/Slide/Box2.png");
  background-size: cover;
  height: 100vh;

  background-position: center;
  
  background-attachment: fixed;
  text-align: center;
 
  background-attachment: fixed;
}


.navbar {
  z-index: 1;
}


#middlebit p {margin: 10px;
} 

#middlebit h2, main h3 {color: #CC66CC;
					background-color: #FFFFFF;
					
}
						 
#middlebit 	{margin: 10px;
			padding: 1px 10px 10px 10px;
			background-color: #FFFFFF;
	
}

.sideBtn{
  margin-top: 10px;
  width: 150px;
  height: 50px;

  outline: none;
  border: none;
  background-color: #d07edf9d;
  color: #f5ecf7ea;

  border-radius: 0.2em;
  box-shadow: 0px 0px 8px 5px rgba(145, 144, 144, 0.329);
}

.sideBack{
  background-color: #f5ecf7ea;
  width: 200px;
  padding: 20px;

}



.click {
  cursor: pointer;
  background-color: #d07edf9d;
  font-family: Georgia, "Times New Roman", serif;

  outline: none;
  border: none;
  color: white; 
  border-radius: 10em; 
  font-size: 18px;
  width: 40px;
  height: 40px;
  text-align: center;
  margin-left: 10px;
}

.cancel {
  cursor: pointer;
  border-radius: 0.05em;

  background-color:rgba(189, 5, 5, 0.932);

  font-family: Georgia, "Times New Roman", serif;
  margin-left: 10px;

  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);

  outline: none; /* Remove outline */
  border: none;
  color: white; /* Text color */

  border-radius: 10em; 
  font-size: 18px; /* Increase font size */
  width: 40px;
  height: 40px;
  text-align: center;

}


span{
  font-family: 'Courier New', Courier, monospace;
  padding-left: 2px;
  padding-top: 2px;
  font-size: 16px;
  font-weight: 900;
  position: absolute;
  
  height: 35px;
  width: 305x;
  
  color: #FFFFFF;
  top: 8px;
  right: 16px;
  margin-bottom: 50px;
  border: solid #d07edf9d;
  border-radius: 100px;
  height: 30px;
  width: 30px;
  background-color: #d07edf9d;
  }

  
.spanWish{
font-family: 'Courier New', Courier, monospace;
  padding-left: 3px;
  padding-top: 3px;
  font-size: 16px;
  font-weight: 900;
  position: absolute;
  
  height: 35px;
  width: 305x;
  
  color: #FFFFFF;
  top: 8px;
  right: 90px;
  margin-bottom: 50px;
  border: solid #d07edf9d;
  border-radius: 100px;
  height: 30px;
  width: 30px;
  background-color: #d07edf9d;
  }
  
  .mainTitle{
    font-size: 80px;
    
  }

.mainTitle:hover{
   color: #d07edf9d;
    font-size: 90px;
  }
  