<app-admin-dashboard></app-admin-dashboard>

<div class="d-flex justify-content-between flex-wrap maincard">

  
      <div class="card mt-2">
        <h1>Customers</h1>
        <p class="text-right">
          <span *ngIf="view==0">{{this.numOfCustomer}}</span>
        </p>
      </div>

      <div class="card mt-2">
        <h1>Orders</h1>
        <p class="text-right">
          <span *ngIf="view==0">{{this.numOfOrders}}</span>
        </p>
      </div>

      <div class="card mt-2">
        <h1>Boxes</h1>
        <p class="text-right">
          <span *ngIf="view==0">{{this.boxes}}</span>
        </p>
      </div>

 </div>

 <br><br>
 <button class="btn2" (click)="results()">Generate Results</button>
  