<app-admin-dashboard></app-admin-dashboard>
<div class="d-flex justify-content-between flex-wrap maincard">

      <div class="card mt-2">
        <h1>Customers</h1>
        <p class="text-right">
          <span>2005</span>
        </p>
      </div>

      <div class="card mt-2">
        <h1>Orders</h1>
        <p class="text-right">
          <span>120</span>
        </p>
      </div>

      <div class="card mt-2">
        <h1>Boxes</h1>
        <p class="text-right">
          <span>81</span>
        </p>
      </div>

 </div>
