<app-admin-dashboard></app-admin-dashboard>
<div class="container">
  <h1 class="title">Dashboard</h1>


  <div class="d-flex justify-content-between flex-wrap maincard">



    <br>
    <div class="card mt-2 mr-3">
      <h1>
        <mdb-icon fas icon="users" style="color: rgba(6, 117, 6, 0.678);"></mdb-icon>
        <br>
        <div style="font-size: 35px;">Customers</div>
      </h1>
      <p class="text-right">
        <span *ngIf="view==0">{{this.numOfCustomer}}</span>
      </p>
    </div>

    <div class="card mt-2 mr-3">
      <h1>
        <mdb-icon fas icon="truck" style="color: rgba(133, 69, 122, 0.671);"></mdb-icon>
        <br>
        <div style="font-size: 35px;">Orders</div>
      </h1>
      <p class="text-right">
        <span *ngIf="view==0">{{this.numOfOrders}}</span>
      </p>
    </div>

    <div class="card mt-2 mr-3">
      <h1>
        <mdb-icon fas icon="box-open" style="color: rgba(214, 97, 2, 0.7);"></mdb-icon>
        <br>
        <div style="font-size: 35px;">Boxes</div>
      </h1>
      <p class="text-right">
        <span *ngIf="view==0">{{this.boxes}}</span>
      </p>
    </div>


    <br><br><br>
    <!--Chart--
      <div >
        <div style="display: block">
          <canvas mdbChart
              [chartType]="chartType"
              [datasets]="chartDatasets"
              [labels]="chartLabels"
              [colors]="chartColors"
              [options]="chartOptions"
              [legend]="true"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)">
          </canvas>
        </div>
      </div>
      <!--Chart-->

  </div>
</div>