<div class="container-fluid p-0" id="top">

    <!--Navbar-->
    <mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-light" [containerInside]="false">

        <!-- Navbar brand -->
        <mdb-navbar-brand><a class="navbar-brand" href="#"><img src="/assets/logo.png" alt="" width="100"
                    height="50"></a></mdb-navbar-brand>

        <!-- Collapsible content -->
        <links>

            <!-- Links -->
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a routerLink="" class="nav-link waves-light" mdbWavesEffect title="Go to Home Page">
                        Home
                    </a>
                </li>
                <li class="nav-item">
                    <a routerLink="../shop" class="nav-link waves-light" mdbWavesEffect title="Shop Now">
                        Shop
                    </a>
                </li>
                <li class="nav-item">
                    <a routerLink="../order" class="nav-link waves-light" mdbWavesEffect id="mycont"
                        title="View Your Order">
                        View Order
                    </a>
                </li>
                <li class="nav-item">
                    <a routerLink="../about" class="nav-link waves-light" mdbWavesEffect title="Go to About">
                        About Us
                    </a>
                </li>
                <li class="nav-item">
                    <a routerLink="../contact" class="nav-link waves-light" mdbWavesEffect id="mycont"
                        title="Go to Contact Info">
                        Contact
                    </a>
                </li>

            </ul>
            <!-- Links -->
        </links>
        <!-- Collapsible content -->

    </mdb-navbar>
    <!--/.Navbar-->

    <!--Page Not Found Video-->
    <div class="video">
        <video muted autoplay="autoplay" loop>
            <source src="/assets/Box.m4v" type="video/mp4" class="mt-106">
        </video>
    </div>
    <!--/.Page Not Found Video-->
    
    <!-- <div id="video" class="container mt-6 pt-5">

        <p class="h1 mt-5 text-center pt-5">
          Page Not Found
        </p>
    </div>-->
</div>