<p>product works!</p>
<input type=number [(value)]=numberOfLikes #Likes Likes="numberOfLikes" (click)="updateLikes(Likes.value)">
<input type=number [(value)]=numberOfcart #cart cart="numberOfcarts" (click)="updateCart(cart.value)">

<div class="row">
    <div class="col-sm-6">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"><br>
<div class="card mb-3" style="max-width: 700px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQIouSZLU3cJ-e8qUhYTUj5ADONxauO1etJYl5sU2DRLspAOdw3" class="card-img" alt="...">
    </div>
    <div class="col-sm-6">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</div>
  
<div class="row">
 
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <button class="btn btn-outline-secondary btn btn-outline-info " (click)="cartButtonClick()" (click)="updateCart(cart.value)" >add to cart</button>
        <div><br>
        <button class="btn btn-outline-secondary btn btn-outline-danger " (click)="likeButtonClick()" (click)="updateLikes(Likes.value)" >add to wishlist</button>
      

        </div>
        
      </div>
    </div>
  </div>
</div>
