<div class="container-fluid p-0">
<!--Navbar-->
<mdb-navbar SideClass="navbar  fixed-top navbar-expand-lg" [containerInside]="false">
  <div class="container">

   <!-- Navbar brand -->
   <mdb-navbar-brand><a class="navbar-brand" href="#"><img src="/assets/logo.png" alt="" width="20%"
      height="15%"></a></mdb-navbar-brand>
 
   <!-- Collapsible content -->
   <links>
 
     <ul class="navbar-nav ml-auto nav-flex-icons">
       <li class="nav-item">
         <a class="nav-link">
           <div class="btn-group" mdbDropdown>
             <mdb-icon far icon="user" class="purple-text" mdbDropdownToggle></mdb-icon>
             <div class="dropdown-menu dropdown-menu-right dropdown-primary">
               <a class="dropdown-item" href="#">Profile</a>
               <a class="dropdown-item" href="#">Home</a>
               <a class="dropdown-item" href="#">Shop</a>
               <div class="divider dropdown-divider"></div>
               <a class="dropdown-item" href="#">Log-out</a>
             </div>
           </div>
         </a>
       </li>
     </ul>
   </links>
   <!-- Collapsible content -->
  </div>
 </mdb-navbar>
 <!--/.Navbar-->

</div>