<p>place-order works!</p>


<div class="row">
    <div class="col-75">
        <div class="container">
            <form>
                <div class="row">
                    <div class="col-sm-9">
                        <div class="circle-cell auto cell">
                            <div class="circle delivery">
                                <img src="https://static.takealot.com/images/checkout/shipping-type/icon-delivery.svg" alt="Delivery">
                            </div>
                                <h2 class="button-banner-title">Delivery</h2>
                            <div class="button-banner-subtitle">Courier delivery to your door</div>
                            <button type="submit" class="btn btn-primary" (click)="submitOrder()">Deliver my order</button>
                        </div>
                    </div> 
                </div>
            </form>
            <div class="row justify-content-center">
                <div class="col-75">
                    <div class="container " >
                    
                        <form>
                        

                        <div class="row">
                            <div class="col-sm-9">
                        <div class="circle-cell auto cell">
                            <div class="circle collect">
                                <img src="https://static.takealot.com/images/checkout/shipping-type/icon-collect.svg" alt="Collect"></div>
                                <h2 class="button-banner-title">Collect</h2>
                                <div class="button-banner-subtitle">45+ Takealot Pickup Points nationwide. Open 7 days a week.</div>
                                <button type="submit" class="btn btn-primary" (click)="submitCollect()">Collect my order</button>
                        </div>
                    </div>  
                </div>
            </form>
            </div>
        </div>
    </div>
</div>